@-moz-document domain('reddit.com'){
	
/* remove some elements */
#header .pagename, /* remove page name e.g. 'Gaming' */
#sr-header-area, /* bar that contains subreddit links */
.default-header, /* reddit name */
.giftgold, .goldvertisement, .gilded-comments-link, /* gold related */
.trophy-area, /* trophy box */
.account-activity-box, /* link to account activity */
.listing-chooser .contents h3, /* 'multireddits' title */
.footer-parent, /* entire footer */
.panestack-title, /* name of display (eg top 500 comments) on comment page */
.side .create, /* create your own subreddit link */
.reddiquette, /* reddiquette link below comment box */
.shortlink, /* shortlink in right sidebar */
.sidecontentbox, /* moderators box in right sidebar */
a.thumbnail.self
{    
  visibility:hidden !important;
  display: none !important;
}

/***********************
******* HEADER *********
***********************/

/* reduce header height to match actual contents */
#header, #header-bottom-left{ 
    min-height: 25px !important; 
    height: 25px !important;
    padding-bottom: 8px !important;
    background-color:#f5f5f5 !important;
}

#header{
	border: 1px solid #f5f5f5 !important;
    box-shadow: #888 0px 0px 5px 0px;
}

#search{
    position: absolute !important;
    top: 5px !important;
    right: 10px !important;
    z-index: 199 !important;
    width: 150px !important;
    height: 30px !important;
}

form#search input[type="text"]{
    width:140px !important;
    height: 19px !important;
    text-align:right;
    color:black;
    font-family: inherit;
    font-size:13px !important;
    font-style: italic !important;
    margin-left:4px;
    padding-right: 10px !important;
    -moz-transition:all 0.1s linear 0s;
    -webkit-transition:all 0.1s linear 0s;
}

div#searchexpando{
    position:relative !important;
    top: 10px !important;
    left:-140px !important;
    font-size: 12px !important;
    z-index:-1 !important;
    background-color:#fbfbfb !important;
    box-shadow:#888 1px 1px 5px 0px !important;
    width:280px !important;
    margin-top:0px !important;
    padding-left:10px !important;
    padding-right:3px !important;
    padding-top: 10px !important;
    padding-bottom: 1px !important;
    border-style:none !important;
    border-color:gray !important;
    line-height:1.7em !important;
}

#header-bottom-right{
  top: 4px !important;  /* put the user info box on the top line of the header */
  right: 10px !important;
  background-color:#f5f5f5 !important;  
}

#userbarToggle{
    top: -1px !important;
     background-color:#f5f5f5 !important;  
    border-right: 0px !important;
}

#header-bottom-right .separator{
    padding-left: 4px !important;
    margin: 0px !important;
}

/* move userbar to the left to make space for search box */
body.listing-page #header-bottom-right, body.comments-page #header-bottom-right, body.wiki-page #header-bottom-right{
  right: 160px !important;
}

body.profile-page #header-bottom-right{
    right: 10px !important;
     
}

/* Make sure the tab menu is aligned correctly on each page */
#header ul.tabmenu{
	margin-top:0px !important;
    border-width:0px; border-style:none;
    display:block;
    float: left;
    margin-left:0px !important;
    position:relative;
    top:5px;
    left:22px;
    z-index:97;
    overflow:visible;
    width:100px;
}

#header-bottom-left ul.tabmenu a:hover {
    color:#0046af;
}

#header-bottom-left ul.tabmenu li {
    font-size:16px;
    font-weight:normal;
}

#header-bottom-left ul.tabmenu li a {
background-color:#f5f5f5 !important;
    background:none;
    border:none;
    color:black !important;
    text-decoration: none !important;
    font-weight: normal !important;
    padding-top: 0px !important;
}

#header-bottom-left ul.tabmenu li.selected a {
    background:none;
    border:none;
    color: red !important;
    border-style: none !important;
}

/**************************
******* LEFT SIDEBAR ******
***************************/

body.with-listing-chooser .listing-chooser{  
  top: 35px !important;   /* move listing chooser a bit up, to match the smaller header */
  height: 100% !important; /* otherwise the chooser can be cut off when there are no/few posts */
}

/* reduce spacing above "everything" in the multireddit sidebar */
.listing-chooser ul.other{
  margin-top: 0px !important;
}


/***************************
******* RIGHT SIDEBAR ******
****************************/

.titlebox{
   font-size: small !important;    
}

.titlebox .karma, .titlebox h1{
font-size: medium !important;   
}

.linkinfo {
    padding: 6px !important;
    padding-bottom:0px !important;
    border: none !important;
    background-color: whiteSmoke !important;
    border:1px solid #ddd !important;
    font-family: inherit !important;
    font-style:italic !important;
    line-height:1.5em !important;
}

.linkinfo .date span{
    display:none !important;
}

.linkinfo .score .number {
    font-size:16px !important;
}

.linkinfo .upvotes {
    font-size: 12px !important;
    color:#b86d52 !important;
}

.linkinfo .downvotes {
    font-size: 12px !important;
    color:#8d8db8 !important;
}

.morelink{
    background-image:none !important;
    text-align:left !important;
    font-weight:normal !important;
    font-style:italic !important;
    color:black !important;
    letter-spacing:0px !important;
    background-color: whiteSmoke !important;
    border:1px solid #B4B4B4 !important;
    border-radius:4px !important;
    height:auto !important;
    padding: 6px 9px !important;
    line-height:1.4em !important;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
}
.morelink:hover{
    background-color: #FFCAB6 !important;
    border: 1px solid orangeRed !important;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
}
.morelink:hover a{
    color:black !important;
}
.morelink a{
    color:black !important;
}
.nub{
    display:none !important;
}

.sidebox.submit .spacer, .sidebox.create .spacer{
    display:none !important;
}

/*********************
******* CONTENT ******
**********************/

.content{
    margin-top: 13px !important;
    margin-left:10px;
    margin-right:10px;
}

.tagline, .tagline span, .flat-list.buttons{
    font-size: 11px !important;
}

.commentarea .flat-list{
	top: 1px !important;
	margin-left: 5px !important;
}

/* small res fix ("source" link is otherwise most to the left of comment/share/...) */
.flat-list .viewSource {
	 min-width: 0px !important;
	 clear: inherit !important;
	 float: inherit !important;
}

.title{
	color: #0046af !important;
}

.commentarea .usertext-body, .profile-page .usertext-body, .message .usertext-body  {
	float: left !important;
	clear: left !important;
	text-align: justify !important;
	overflow-x: visible !important;
}

div.usertext-body, .commentarea .usertext-body, .profile-page .usertext-body, .message .md {
    max-width:38em !important;
}


.link .usertext .md {
	background-color: transparent !important;
	border-width: 0px !important;
	border-radius: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	max-width: 38em !important;
}

.usertext.grayed .usertext-body {
	font-style:italic;
	padding-bottom: 3px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 3px;
	margin-bottom:8px;
	color:#555;
}

.md {
	font-size:14px;
	overflow:visible;
}

.usertext-body h3 {
    margin-top:8px; 
    margin-bottom:8px;
}

blockquote, .md blockquote, .help blockquote {
	background-color:whiteSmoke;
	border-left-color:#bbb;
	border-left-width:4px;
	border-top-right-radius:6px; border-bottom-right-radius:6px;
	margin-left:0px; margin-right:0px;
	margin-bottom: 8px; margin-top: 3px;
	padding-top:6px; padding-bottom:2px;
	padding-left:9px; padding-right:11px;
}

.usertext-body table, .usertext-body td, .usertext-body thead, .usertext-body th, .usertext-body hr {
	border-style:solid;
	border-color:gray;
	border-width:0px;
	border-bottom-width:1px;
	padding-top:3px;
}
.usertext-body td{
	padding:7px;
	vertical-align:top;
}
.usertext-body table{
	margin-left:0px; margin-right:0px;
	margin-bottom: 11px;
}

hr {
	border-style: solid;
	border-width: 1px;
	border-color:gray;
	margin-top:0px;
	margin-bottom:30px;
}

.md > * { 
	margin-bottom :8px; 
} 

.usertext-body ul{
	margin-bottom:11px;
	margin-right:0px;
	margin-left:25px;
}

.usertext-body li{
	margin-bottom:7px;
	margin-left:0px;
}

sup, sub, .commentarea .expando-button{
    line-height: 0;
}

.md ol, .md ul, .md pre {
    margin-right:0px;
}

.thumbnail {
    border-radius: 2px;
}

.comments-page .entry{
	padding-left: 15px !important;	
}

body.with-listing-chooser .content{
	margin-left: 150px !important;
}

body.with-listing-chooser.listing-chooser-collapsed .content{
    margin-left: 10px !important;
}

.RES-keyNav-activeElement{
    outline-width: 0px !important;
}

body .res_comment_ups {
	color: #b86d52 !important;
	font-weight:normal !important;
}
body .res_comment_downs {
    color: #8d8db8 !important;
	font-weight:normal !important;
}
body .res_post_ups {
    color:#b86d52 !important;
}
body .res_post_downs {
    color:#8d8db8 !important;
}


/********************************
******** Original Aerial ********
*********************************
 not made by me except for some small changes (some of the above was taken from this, and edited) 
 */
body, #main, input, button, .wikipage, .wikipage h1, .wikipage h2, .wikipage h3, .wikipage h4, .flat-vert.title {
    font-family:"Segoe UI", "PT Sans", "Open Sans", "Ubuntu", "Tahoma", "Myriad Web", sans-serif !important;
}

div.arrow.up, div.arrow.down, div.arrow.upmod, div.arrow.downmod, .thumbnail.self, .thumbnail.default, .thumbnail.nsfw, body.res-nightmode div.arrow.up, body.res-nightmode div.arrow.down, body.res-nightmode div.arrow.up:hover, body.res-nightmode div.arrow.down:hover, body.res-nightmode div.arrow.upmod, body.res-nightmode div.arrow.downmod, time.edited-timestamp {
    background-image: url(http://f.thumbs.redditmedia.com/3ooonkjj2lVSwgtw.png) !important;
}

div.arrow{
	width: 15px !important;
	height: 14px !important;
}

div.arrow.up, body.res-nightmode div.arrow.up, body.loggedin .midcol:hover div.arrow.up, body.loggedin.res-nightmode .midcol:hover div.arrow.up{
	background-position: -0px -642px !important;
	background-repeat: no-repeat !important;
	cursor:pointer;
}

div.arrow.down, body.res-nightmode div.arrow.down, body.loggedin .midcol:hover div.arrow.down, body.loggedin.res-nightmode .midcol:hover div.arrow.down{
	background-position: -15px -656px !important;
	background-repeat: no-repeat !important;
	cursor:pointer;
}

.midcol:hover div.arrow.up, .midcol:hover div.arrow.down, body.res-nightmode .midcol:hover div.arrow.up, body.res-nightmode .midcol:hover div.arrow.down{
	background-position: -50px -642px !important;
	cursor:none;
}

div.arrow.upmod, body.res-nightmode div.arrow.upmod{
	background-position: -0px -656px !important;
	background-repeat: no-repeat !important;
}

div.arrow.downmod, body.res-nightmode div.arrow.downmod{
	background-position: -15px -642px !important;
	background-repeat: no-repeat !important;
}

.toggleImage, .expando-button.image, .RESGalleryControls a, .RESUserTagImage, body .toggleImage, body .expando-button.image, body .RESGalleryControls a, body .RESUserTagImage{
    background-image: url(http://c.thumbs.redditmedia.com/nBCW80XuC2_qMu_D.png) !important;
}

.expando-button{
    background:none;
}

.res-nightmode .arrow.up, .res-nightmode .arrow.down, .res-nightmode .arrow.up:hover, .res-nightmode .arrow.down:hover, .res-nightmode .arrow.upmod, .res-nightmode .arrow.downmod {
    background-image: url(http://c.thumbs.redditmedia.com/n8fFm75rDzKvc8A8.png) !important;
}

.res-nightmode #header-img.default-header, .res-nightmode .thumbnail.self, .res-nightmode .thumbnail.default, .res-nightmode .thumbnail.nsfw {
    background-image: url(http://c.thumbs.redditmedia.com/0ZkZPsviQScvt3an.png) !important;
}

.res-nightmode .expando-button.selftext.collapsed, .res-nightmode .expando-button.selftext.collapsed:hover, .res-nightmode .eb-sch, .res-nightmode .expando-button.selftext.expanded, .eb-se, .res-nightmode .expando-button.selftext.expanded:hover, .eb-seh, .res-nightmode .expando-button.video.collapsed, .res-nightmode .expando-button.video.collapsed:hover, .res-nightmode .eb-vch, .res-nightmode .expando-button.video.expanded, .res-nightmode .eb-ve, .res-nightmode .expando-button.video.expanded:hover, .res-nightmode .eb-veh, body.res-nightmode  .expando-button.image{
    background-image:url(http://c.thumbs.redditmedia.com/n8fFm75rDzKvc8A8.png) !important;
}

div#header-bottom-right {
	background:none;
	position:absolute;
	top:20px;
	font-size:11px;
}

div#header-bottom-right .separator {
	margin-left: 4px; margin-right: 4px;
	font-size:0px;
}

#srLeftContainer {
    display: inline;
}


div#userbarToggle.userbarHide, div#userbarToggle.userbarShow{
	background-color:inherit;
	color:gray;
	font-weight:bold;
	font-size:20px;
	border-style:none;
}

#userbarToggle {
	height: 15px;
	line-height: 15px;
}

#mailCount{
    color:orangeRed;
}

#RESAccountSwitcherIcon {
    display: inline;
}

.user .userkarma{
    border-bottom-style:none;
}

.listing-page .thing {
    padding-left:0px;
}

.rank{
	min-width: 19px;
	position:relative;
	top:2px;
}

.link{
	margin-top:14px;
	margin-bottom:0px;
}

.link .rank{
	font-family:inherit;
	font-size:12px;
}

span.score.unvoted, span.score.likes span.score.dislikes{
    font-size:11px;
}

div.score{
    font-size:13px;
}

.score.likes, .link .score.likes {
	color:#ff4500;
	margin-left:0px;
}

.link .score.unvoted {
	color:#aeaeae;
	margin-left:0px;
}

.midcol .score.dislikes, .link .score.dislikes, .res_post_downs {
    color:#9494FF !important;
}

.score.dislikes, .link .score.dislikes {
    margin-left:0px;
}

.link .score{
	position:relative;
	left:0px;
}

.commentarea .score.likes, .commentarea .score.dislikes{
    font-style:italic !important;
}

.linkinfo .shortlink {
    margin-top: 0px;
}

.linkinfo .shortlink input{
	border:none;
	font-style:normal;
}

input#shortlink-text{
	background:none;
	font-family:Consolas, Monaco, monospace;
}

.titlebox h1{
    font-family:inherit;
}

.link .tagline {
	font-style:italic;
	font-size:11px;
}

.link .flat-list.buttons{
    font-size:12px;
}

.noncollapsed, .flat-list.buttons li{
    display:inline;
}

.domain a{
	font-size:12px;
	font-style:italic;
	color:#999999;
}
.domain{
    font-size:0px;
}

.domain a:hover{
    color:#0046af;
    text-decoration:none;
}

.linklisting .expando{
    margin-bottom:0px;
}

.link.last-clicked {
	border: 0px;
	opacity:0.5;
	-moz-transition:opacity 0.3s ease-in 0s;
	-webkit-transition:opacity 0.3s ease-in 0s;
}

.link.last-clicked:hover {
	opacity:1;
	-moz-transition:opacity 0.3s ease-in 0s;
	-webkit-transition:opacity 0.3s ease-in 0s;
}

.comments-page .link.last-clicked{
    opacity:1;
}

.nsfw-stamp acronym {
	color:white !important;
	background-color:#be0d3e !important;
	border:1px solid #be0d3e !important;
	font-size:11px !important;
	font-weight:bold !important;
	font-style:italic !important;
}

.nextprev{
	margin-top:15px;
	font-size:14px;
	font-style:italic;
}

.imgCaptions, .imgCredits, .RESGalleryLabel{
	font-size:14px;
	font-style:italic;
}

.listing-page a.title[href$="a3u/"]:after{
	content:"[Aerial Update]";
	font-size:20px !important;
	color:white !important;
	font-weight:bold !important;
	background-color:#00A523 !important;
	padding: 0px 5px 2px 5px;
	margin-left: 8px;
	white-space:nowrap;
}

.usertext-edit , body .usertext-edit {
	width:auto;
	max-width:615px;
	margin-top:6px;
	margin-bottom:10px;
	padding-left:0px;
}

.usertext-edit textarea{
	font-family:inherit;
	font-size:14px;
	width:98%;
}

.viewSource{
	float: left;
	clear: left;
	min-width:500px;
}

.viewSource textarea{
    background-color:#ddd;
}

.markdownEditor{
	display:inline;
	white-space:normal !important;
}

.comment .score{
    font-size:11px;
}

.tagline{
    font-style:italic;
}

.tagline .author, .tagline .userattrs{
    font-style:normal;
}

time.edited-timestamp{
	display:inline-block;
	width: 11px!important;
	height: 9px!important;
	background-position: -52px -658px !important;
	background-repeat: no-repeat !important;
	text-indent: -9999px;
	margin-left:2px;
	margin-right:1px;
}

.comment .midcol{
    margin-top:2px !important;
}

p a:hover {
    text-decoration:underline;
}

.panestack-title{
    border-bottom-style:none;
}

.menuarea, .commentarea .menuarea{
	font-size:13px;
	border-bottom-style:none;
	margin-top:0px; margin-bottom:18px;
	margin-left:10px; margin-right:0px;
}

.comments-page.single-page .commentarea .menuarea{
    margin-top:7px;
}

.menuarea .selected, .commentNavSortType{
    font-weight:normal !important;
}

.menuarea .drop-choices{
    font-size:14px;
}

.loggedin .commentarea .menuarea{
    margin-bottom:2px;
}

.tagline .linkflairlabel{
font-size:11px;
}

.flair{
	border-radius:2px;
	font-style:normal;
	padding-left:3px; padding-right:3px;
	padding-top:2px; padding-bottom:2px;
}

.link .linkflairlabel{
    font-size:12px;
}

a[href$="/spoiler"], a[href$="#spoiler"] {
	outline: 1px solid #ccc;
	background-color: white;
	background-image:
	-webkit-linear-gradient(-45deg, transparent 25%, #ccc 25%, #ccc 50%, transparent 50%, transparent 75%, #ccc 75%, #ccc 100%, transparent);
	-moz-linear-gradient(-45deg, transparent 25%, #ccc 25%, #ccc 50%, transparent 50%, transparent 75%, #ccc 75%, #ccc 100%, transparent);
	background-size: 10px 10px;
	color:rgba(0, 0, 0, .0);
}

a[href$="/spoiler"]:hover, a[href$="#spoiler"]:hover{
	color:black !important;
	text-decoration:none;
	background-color:transparent;
	background-image:none;
	-moz-transition:all 1s ease-in 0s;
	-webkit-transition:all 1s ease-in 0s;
}

.comment .child{
	margin-bottom:0px;
	margin-top:0px;
	margin-left:7px !important;
	padding-left:8px !important;
	border-left-color:#e4e4e4;
	border-left-style:solid;
}

a.expand, .comment .expand {
	font-size:15px;
	padding-left:0px;
	margin-right:3px;
}

a.expand:hover, .comment .expand:hover {
	background-color:#0046af;
	color:white;
	margin-top:0px;
	padding-left:1px; padding-right:1px;
	margin-right:2px;
}

.comment > .entry > .collapsed, .comment > .entry > .collapsed a.expand {
	font-size:11px;
	font-style:italic;
}

.comment > .entry > .collapsed{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

.noncollapsed time{
    font-style:italic;
}

.morecomments, .morecomments a {
	font-size:12px;
	font-style:italic;
	color:#888;
	position:relative;
	bottom:1px;
}

.commentarea .buttons, .profile-page .noncollapsed .buttons, .message .buttons {
	font-size:11px;
	font-style:normal;
	font-weight:bold;
	white-space: normal;
	width:10px !important;
	overflow:visible;
}

.commentarea .buttons, .profile-page .noncollapsed .buttons {
	position:relative;
	top:3px;
	margin-left: 11px;
	vertical-align:sub;
}

.buttons:hover li{
	display:inline-block;
	background-color:white;
}

.keyHighlight .buttons:hover li{
    background-color:#faf9f7;
}

.comments-page .linklisting .keyHighlight .buttons:hover li{
    background:none !important;
}

.promotedlink .buttons:hover li{
    display:inline;
}

.entry .buttons li a:hover, .morecomments a:hover{
	color:#0046af;
	text-decoration:none;
}

div.child {
    margin-left: 15px;
}

.profile-page .entry, .profile-page .entry.unvoted, .profile-page .entry.voted{
    margin-top:0px;
}

.morechildren{
    margin-bottom:8px;
}
.morechildren .entry{
    margin-left:7px;
}

.commentarea .arrow.down, .commentarea .arrow.downmod, .profile-page .comment .arrow.down, .profile-page .comment .arrow.downmod, .messages-page .arrow.down, .messages-page .arrow.downmod, .click-gadget .arrow.down, .click-gadget .arrow.downmod{
    margin-top:6px !important;
}

.commentarea .tagline, .profile-page .tagline {
	float: left;
	font-size:11px;
	display:inline;
}
.message .tagline, .message .parent-link{
	font-size:11px;
	padding-left:0px;
	font-style:italic;
}

.md div.madeVisible {
	overflow-x: visible;
	overflow-y: visible;
}

body span[class="hover pagename redditname"], body span[class="hover pagename redditname"] a{
    font-size:18px !important;
}

.comments-page .thumbnail.self{
    display:none;
}

.comments-page .sitetable .self .midcol{
    margin-right:8px;
}

.panestack-title{
    margin-right:0px;
}

.comments-page .panestack-title{
    margin-top:20px;
}

.menuarea{
    font-style:italic;
}

.menuarea .spacer{
    font-size:17px;
}

.RESSubscriptionButton{
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	opacity:0 !important;
	-Xmoz-transition:opacity 0.2s linear 0s;
	-Xwebkit-transition:opacity 0.2s linear 0s;
}

.panestack-title:hover .RESSubscriptionButton{
	opacity:1 !important;
	-Xmoz-transition:opacity 0.2s linear 0s;
	-Xwebkit-transition:opacity 0.2s linear 0s;
}

.RESSubscriptionButton:hover{
    background-color:whiteSmoke;
}

.comments-page .menuarea .spacer{
    margin-bottom:0px;
}

#REScommentNavToggle {
	margin-left: -6px !important;
	vertical-align:bottom;
	height:19px !important;
	margin-bottom:2px;
}

#REScommentNavToggle span{
    display:none;
}

#REScommentNavToggle span:first-child{
	display:block;
	margin-top:1px;
	font-style:normal;
	font-size:13px;
	margin-right:10px;
	color:#a7b3c5;
}

#REScommentNavToggle div{
	font-size:14px;
	margin-left:10px;
}

.menuarea, div.menuarea, .commentarea .menuarea{
	border-radius:3px;
	background-color:#f0f4fb;
	border:1px solid #d4dfef;
}

.listing-page .menuarea, .search-page .menuarea{
	margin-bottom:18px;
	padding:6px 6px 1px 10px;
	margin-left:6px;
}

.commentarea .menuarea, loggedin .commentarea .menuarea {
	margin-bottom:12px !important;
	padding:4px 8px 4px 8px;
	margin-left:10px;
}

.menuarea .separator{
    display:none;
}

.res .commentarea .menuarea{
    color:#8897AE;
}

.commentNavSortTypeDisabled{
    color:#ccd4e0 !important;
}

.menuarea .dropdown{
    display:none;
}

.menuarea .drop-choices{
	display:inline;
	position:static;
	box-shadow:none;
	font-size:16px;
	white-space: normal;
	background:transparent !important;
}

.menuarea .drop-choices form, .menuarea .drop-choices a, .menuarea a, .menuarea .drop-choices a.choice {
	display:inline;
	color:black;
}

.menuarea .drop-choices a:hover, .messages-page .menuarea a:hover{
	background:none;
	color:#0046af;
	text-decoration:none;
}

.menuarea .drop-choices a{
    margin-left:10px;
}

input[type="hidden"], .drop-choices a.choice.selected, body.res-nightmode .menuarea .drop-choices form a.choice.selected{
	display:inline;
	color:orangeRed !important;
}

.menuarea{
    white-space:normal;
}
.menuarea .dropdown-title{
	font-size:14px;
	font-style:normal;
	line-height:24px;
	color:#8897ae;
}
.menuarea .spacer{
    display:block;
}


.res div.usertext-edit > div{
    margin-top:4px;
}

.markdownEditor a{
	display:inline-block;
	height:13px;
}

.markdownEditor a, #RESMacroDropdown li a {
	border-radius:1px;
	background-color:whiteSmoke;
	border:1px solid #ddd;
	padding: 2px 3px 2px 3px;
	margin-right: 4px;
	font-size: 11px;
	color:black;
	cursor:default;
}

#RESMacroDropdown li {
	padding-right: 10px;
	height: auto;
	line-height: auto;
	background:none;
	border:none;
	margin-top:4px;
}

#RESMacroDropdown li a {
	position:relative;
	top:-3px;
}

.RESDropdownList li:hover, .RESDropdownList li a:hover,  #RESMacroDropdown li a:hover {
	background-color: #9CC6EC;
	color: #369;
}

.markdownEditor a:hover {
    background-color: #ddd;
}

.res .RESDialogSmall.livePreview {
	box-shadow:none;
	margin-top:0px;
}

.res .usertext-edit .RESDialogContents{
	margin-left:0px; margin-right:0px;
	margin-top:0px; margin-bottom:10px;
	border: 2px solid #D4DFEF;
	border-radius:4px;
	padding-top:9px !important; padding-bottom:4px !important;
}

.res .usertext-edit .RESDialogSmall{
    border:none;
}

.res .usertext-edit .RESDialogSmall > h3 {
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 7px;
	font-style:italic;
	position: static;
	background:none;
	border:none;
	height: auto;
	padding-left: 0px;
	padding-top: 0px;
}

.sitetable form.usertext.cloneable{
    margin-top:10px;
}

body .sitetable .usertext-edit{
    margin-bottom:0px;
}

body.res .sitetable .RESDialogSmall{
    margin-bottom:30px;
}

.noncollapsed .score.unvoted {
    color:#888;
}

h2{
    color:black;
}

.commentarea h1{
	border-bottom:none !important;
	margin-bottom:6px;
	margin-top:0px;
	padding-bottom:0px;
}

.commentarea h1:before { 
    content:"#";
}

.usertext.border .usertext-body{
	display:table !important;
	padding-top:13px; padding-bottom:15px;
	padding-left:0px; padding-right:0px;
	margin-bottom:10px;
	background-color:#faf9f7;
	border-radius:5px;
	font-size:110%;
	line-height:1.6em;
	width:100%;
	max-width:2000px;
}

.usertext.border .usertext-body .md, .usertext.border .usertext-body .md[style="max-width: 100%; "]{
	max-width: 34em !important;
	margin-left:auto;
	margin-right:auto;
	padding-left:20px; 
	padding-right:20px;
}

.usertext.border .usertext-body p, .usertext.border .usertext-body h3 {
	font-size:15px;
	line-height:1.6em;
}

.usertext.border .usertext-body h3{
    margin-top:8px; margin-bottom:8px;
}

.usertext.border .usertext-body p{
	margin-top:0px; 
	margin-bottom:0px;
	text-indent:35px;
}

.usertext.border .usertext-body .madeVisible{
    text-indent:0px;
}

.usertext.border .usertext-body li p, p code{
    text-indent: 0px;
}

.usertext.border .usertext-body li{
	font-size:15px;
	line-height:1.6em;
	margin-bottom:5px;
}

.usertext.border .usertext-body ul{
	margin-top:8px;
	margin-bottom:8px;
	margin-right:0px;
}

.usertext.border .usertext-body pre, .usertext.border .usertext-body code{
    font-size:14px;
}

.usertext.border .usertext-body blockquote{
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left:10px;
	padding-right:12px;
	background-color:#f0efed;
	border-left-color:#b7b7b5;
}

.usertext.border .usertext-body table, .usertext.border .usertext-body td, .usertext.border .usertext-body thead, .usertext.border .usertext-body th, .usertext.border .usertext-body hr {
	border-color:#b7b7b5;
	font-size:15px;
}

.usertext.border .usertext-body hr {
    margin-top:7px;
}

.side{
	padding-left:18px;
	width:23%;
	max-width:300px;
	z-index:30 !important;
	margin-right:10px;
}

@media screen and (max-width: 600px){  
	  .side, .side[style="display: block; "]{
		width:0px !important;
		border-left: 10px solid #0046af;
		margin-right:-19px;
		margin-left:10px;
		max-height:150px;
		overflow:hidden;
		-moz-transition:width 0.5s ease-out 0s;
		-webkit-transition:width 0.5s ease-out 0s;
	}
	
	.side:hover, .side[style="display: block; "]:hover{
		width:300px !important;
		background:none;
		border-left: 2px dashed #999;
		border-bottom: 2px dashed #999;
		margin-right:0px;
		padding-right:12px;
		max-height:none;
		-moz-transition:width 1.3s ease-out 0s;
		-webkit-transition:width 1.3s ease-out 0s;
	}
	
	#header-img, #header-img.default-header {
		top:44px;
		-moz-transition:top 1s ease-out 0s;
		-webkit-transition:top 1s ease-out 0s;
	}
	
	.pagename{
		top:31px;
		-moz-transition:top 1s ease-out 0s;
		-webkit-transition:top 1s ease-out 0s;
	}
	
	ul.tabmenu, #header ul.tabmenu {
		top:68px;
		-moz-transition:top 1s ease-out 0s;
		-webkit-transition:top 1s ease-out 0s;
	}
	
	div#header-bottom-right {
		top:18px;
		-moz-transition:top 1s ease-out 0s;
		-webkit-transition:top 1s ease-out 0s;
	}
	
	div#header{
		max-height:87px;
		min-height:87px;
		-moz-transition:min-height 1s ease-out 0s;
		-webkit-transition:min-height 1s ease-out 0s;
	}
	
	.content{
	    margin-left: 3px !important;
	}
}

@media screen and (max-width: 1070px){
	body .side .titlebox .md{
	font-size:12px;
	}
}

body .side .titlebox .md{
    font-size:13px;
}

.side, .side p, .side li, .side h3, .side .md{
    text-align:left;
}

.side .usertext-body li{
    margin-bottom:2px;
}

.side form.usertext{
    margin-top:15px;
}

form#login_login-main.login-form.login-form-side {
	padding:0px;
	margin:0px;
	border-width:0px;
	border-color:gray;
	font-size:11px;
}

.login-form-side input[type=text], .login-form-side input[type=password] {
	margin:0px;
	margin-right:5px;
}

.login-form-side input:focus{
    color:black;
}

.author.flairselectable, span.flair, .link .flair, .flairselectbtn{
    font-size: 11px;
}

input{
	font-family:inherit;
	font-variant:normal;
	font-style:italic;
}

div.styleToggle{
	background-color:white;
	z-index: 400;
}

.side td{
    padding:4px;
}

@media screen and (max-width: 1000px){
	.side td, .side th {
		display:block;
		padding:3px;
	}
}

.side li > p{
	margin-left:-25px;
	text-indent:25px;
}

.titlebox .bottom{
	font-size:12px !important;
	font-style:italic;
}

.titlebox .age{
    margin-left:13px;
}

.profile-page .parent{
	font-size:11px;
	margin-bottom:2px;
	font-style:italic;
}

.profile-page .thing{
    margin-top:11px;
}

.profile-page .link .tagline{
    float:none;
}

.profile-page .titlebox{
	border: none;
	font-family: inherit;
	font-style:italic;
	font-size:13px;
}

.titlebox h1{
    font-size:16px;
}

.profile-page .karma{
    font-size:16px;
}

.profile-page .titlebox .bottom{
	border:none;
	font-size:13px;
	color:black;
}

.sidecontentbox .title h1 {
	font-size: 16px;
	color:black;
	text-transform:lowercase;
	padding-bottom:4px;
}

.subreddit .usertext .md{
	background:none;
	padding:7px;
	padding-bottom:2px;
	border-style:solid;
	font-size:13px;
	margin-top:8px;
}

.subreddit .usertext-body li{
    margin-bottom:2px;
}

.subreddit .tagline, .subreddit .flat-list{
    font-size:12px;
}

.subreddit .description{
    margin-top:-5px;
}

.subreddit .midcol{
	width:auto;
	min-width:9em;
}

.subreddit .fancy-toggle-button{
    margin-right:5px;
}

.subreddit .entry.likes .description{
    display:none;
}

.subreddit .entry.likes, .subreddit .remove{
    font-style:italic;
}

.subreddit .score.likes{
    color:gray;
}
.subreddit .entry.likes:hover, .subreddit .remove:hover{
    opacity:1;
}

.listing-page .sidecontentbox .content{
	background-color:whiteSmoke;
	border-radius:5px;
	border-top-left-radius:0px;
	border-width:0px;
	margin-top:3px;
	padding:9px;
}

span.column.centered{
    text-align:left;
}

.subscription-box .box-separator {
	border-style: none none none none;
	margin-bottom: 9px;
}

.listing-page .subscription-box .fancy-toggle-button .add, .listing-page .subscription-box .fancy-toggle-button .remove{
    font-size:10px;
}

.subscription-box .title {
    font-size:14px;
}

.subscription-box li {
    margin-bottom: 4px;
}

.sidecontentbox .icon-menu a{
    background:none !important;
}

.sidecontentbox .collapse-button{
	font-size:18px;
	height:14px;
	width:14px;
	cursor:default;
}

.pagename a[href="http://www.reddit.com/r/Dashboard/"], .pagename a.dashboardTab{
	font-size:15px !important;
	margin-right: 8px;
	text-transform:lowercase;
	white-space:nowrap;
	background-color:#FFCAB6;
	border: 1px solid orangeRed;
	border-radius: 2px;
	padding-left:3px; padding-right:3px;
	position:relative;
	top:3px;
	cursor:default;
}

.pagename a[href="http://www.reddit.com/r/Dashboard/"]:hover, .pagename a.dashboardTab:hover{
	background-color:whiteSmoke;
	border:1px solid #bbb
}

.RESDashboardComponentContainer{
	padding-top:0px !important; 
	padding-bottom:15px !important;
	padding-left:5px !important; 
	padding-right:10px !important;
}

.RESDashboardComponent a.widgetPath{
	font-size:16px !important;
	margin-top:3px !important;
	font-style:italic !important;
}

.RESDashboardComponent a.widgetPath:hover{
	overflow:visible !important;
	background-color:whiteSmoke !important;
}

.RESDashboardComponentHeader{
	background-color:whiteSmoke !important;
	height:auto !important;
	min-height:38px !important;
	display:inline-block !important;
	width:100% !important;
}

.RESDashboardComponentHeader ul li, ul.widgetSortButtons li, ul.widgetStateButtons li{
	background:none !important;
	border:none !important;
	padding:0px !important;
	color:black !important;
    font-size:15px !important;
}

.RESDashboardComponentHeader ul li.active{
    color:orangeRed !important;
}

.RESDashboardComponentHeader ul li:hover{
    color:#0046AF !important;
}

.RESDashboardComponentHeader ul li.refresh{
	padding: 0px 6px 0px 6px !important;
	border: 1px solid #C7C7C7 !important;
	background-color: white !important;
	color: #6C6C6C !important;
}

ul.widgetStateButtons li.updateTime{
	font-size:11px !important;
	font-style:italic !important;
}

.RESDashboardComponentHeader ul{
	font-family:inherit !important;
	height:26px !important;
}

#userTaggerTable, #userTaggerTable td, #newCommentsTable td{
    font-size:13px !important;
}

#userTaggerTable td, #newCommentsTable td, #userTaggerTable th, #newCommentsTable th {
    padding: 6px 10px !important;
}

#userTaggerTable th, #newCommentsTable th{
	background-color:whiteSmoke;
	font-size:14px !important;
	font-style:italic !important;
}

iframe#ad-frame[src="http://www.redditmedia.com/ads/r/Dashboard/"]{
	height:10px;
	-moz-transition:height 0.7s ease-out 0s;
	-webkit-transition:height 0.7s ease-out 0s;
}

.loggedin iframe#ad-frame[src="http://www.redditmedia.com/ads/r/Dashboard/"]{
    height: 280px;
}

iframe#ad-frame[src="http://www.redditmedia.com/ads/r/Dashboard/"]:hover{
	height: 280px;
	-moz-transition:height 0.7s ease-out 0s;
	-webkit-transition:height 0.7s ease-out 0s;
}

#RESDashboardAddComponent {
	background-color: #dff6e4 !important;
	border: 1px solid #00A523 !important;
}

div.addNewWidget{
	font-size:16px !important;
	font-style:italic !important;
	font-weight:normal !important;
	margin-top:3px !important;
}

#addWidgetButtons, #addRedditFormContainer, #addMailWidgetContainer, #addUserFormContainer{
	width: auto !important;
	margin-left:10px !important;
}

.addButton{
	font-size:12px !important;
	background-image:none !important;
	border:none !important;
	background-color:#00A523 !important;
}

.addButton:hover{
    background-color:gray !important;
}

#newlink.submit.content, .submit-page div.content > .content{
	width:100%;
	display:block;
	float:none;
	clear:none;
	margin-left:auto;
	margin-right:auto;
}

.submit-page h1{
	font-style:italic;
	padding-bottom:10px;
}

ul.tabmenu.formtab {
	display: block;
	padding-left: 15px;
	font-size: larger;
	margin-top:15px;
}

.tabmenu.formtab a{
	background-color:whiteSmoke;
	border:1px solid #b4b4b4;
	color:black;
	border-radius:4px;
	font-size:20px;
	position:relative;
	top:-7px;
	margin-right:7px;
	padding-bottom:2px;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
}

.tabmenu.formtab .selected a{
	background-color:#FFCAB6;
	color:black;
	border:1px solid orangeRed;
	border-bottom-width:0px;
	font-size:100%;
	font-size:20px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	padding-bottom:9px;
	-moz-transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
}

ul.tabmenu.formtab{
    padding-bottom:2px;
}

.formtabs-content {
	display:block;
	border-top: none;
	border-radius:4px;
	box-shadow: #888 1px 1px 5px 0px;
	padding:15px;
	margin-left:auto !important;
	margin-right:auto !important;
	max-width:500px;
}

.roundfield textarea, .roundfield input[type="text"], .roundfield input[type="password"]{
    width:100%;
}

.roundfield, textarea{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px !important;
	padding-right:0px !important;
}

.roundfield, form .roundfield {
	display:block;
	width:100%;
	padding-left:0px; 
	padding-right:0px;
}

.submit-page div.content{
	display:table;
	padding-left:10px;
}

.thing .title:hover, .thing .title.loggedin:hover, .entry .tagline a:hover, #header-bottom-right a:hover, .subscription-box .title:hover, .subscription-box a:hover{
	color:black;
	text-decoration:none;
}

.commentarea a.expand:hover{
    color:white;
}

a, .thing .title, .thing .title.loggedin, .tagline a, .subscription-box .title, .subscription-box .a, .deepthread a {
    color:#0046af;
}

a.voteWeight{
    margin-right:4px !important;
}

body .tagline .friend{
    color:orangeRed !important;
}

body .author.friend {
    background-color:orangeRed !important;
}

body .tagline .submitter{
    color:#0046af !important;
}

body .author.submitter {
    background-color:#0046af !important;
}

body .tagline .moderator{
    color:#282 !important;
}

body .author.moderator {
    background-color:#282 !important;
}

body .tagline .admin{
    color:#d70000 !important;
}

body .author.admin {
    background-color:#d70000 !important;
}

body .author.friend.submitter{
	background: -moz-linear-gradient(90deg, #0046af 50%, orangeRed 50%) !important;
	background: -webkit-linear-gradient(90deg, #0046af 50%, orangeRed 50%) !important;
	background-size:100% 100% !important;
}

body .author.submitter.moderator{
	background: -moz-linear-gradient(90deg, #0046af 50%, #282 50%) !important;
	background: -webkit-linear-gradient(90deg, #0046af 50%, #282 50%) !important;
	background-size:100% 100% !important;
}

body .author.friend.moderator{
	background: -moz-linear-gradient(90deg, orangeRed 50%, #282 50%) !important;
	background: -webkit-linear-gradient(90deg, orangeRed 50%, #282 50%) !important;
	background-size:100% 100% !important;
}

body .author.submitter.admin{
	background: -moz-linear-gradient(90deg, #0046af 50%, #d70000 50%) !important;
	background: -webkit-linear-gradient(90deg, #0046af 50%, #d70000 50%) !important;
	background-size:100% 100% !important;
}

body .author.friend.admin{
	background: -moz-linear-gradient(90deg, orangeRed 50%, #d70000 50%) !important;
	background: -webkit-linear-gradient(90deg, orangeRed 50%, #d70000 50%) !important;
	background-size:100% 100% !important;
}

body .author.friend.submitter.moderator{
	background: -moz-linear-gradient(90deg, #0046af, #0046af 33%, orangeRed 33%, orangeRed 66%, #282 66%, #282 99%) !important;
	background: -webkit-linear-gradient(90deg, #0046af, #0046af 33%, orangeRed 33%, orangeRed 66%, #282 66%, #282 99%) !important;
	background-size:100% 100% !important;
}

body .author.friend.submitter.admin{
	background: -moz-linear-gradient(90deg, #0046af, #0046af 33%, orangeRed 33%, orangeRed 66%, #d70000 66%, #d70000 99%) !important;
	background: -webkit-linear-gradient(90deg, #0046af, #0046af 33%, orangeRed 33%, orangeRed 66%, #d70000 66%, #d70000 99%) !important;
	background-size:100% 100% !important;
}

body .author.submitter, body .author.admin, body .author.moderator, body .author.friend{
	color:white !important;
	border-radius:2px;
	padding-left:3px; padding-right:3px;
	padding-top:2px; padding-bottom:2px;
}

.entry .tagline .author.submitter:hover, .entry .tagline .author.admin:hover, .entry .tagline .author.moderator:hover, .entry .tagline .author.friend:hover{
	color:white !important;
	background:none !important;
	background-color:gray !important;
}

body .collapsed .author {
	background-color:transparent !important;
	color:gray !important;
}

.newComments {
    color: #ff0000 !important;
}

.keyHighlight, div.keyHighlight {
	outline-width: 4px !important;
	outline-color:rgba(188, 174, 148, .105);
	background-color:rgba(188, 174, 148, .105);
	outline-style:solid !important;
}

.comments-page div.keyHighlight, .messages-page div.keyHighlight{
    outline-width: 6px !important;
}

.comments-page .linklisting .keyHighlight {
	outline:none !important;
	background:none;
}

.comments-page .linklisting .keyHighlight blockquote {
	background-color:whiteSmoke;
	border-left-color:#bbb
}

.comments-page .linklisting .keyHighlight table, .comments-page .linklisting .keyHighlight td, .comments-page .linklisting .keyHighlight thead, .comments-page .linklisting .keyHighlight th, .comments-page .linklisting .keyHighlight hr {
    border-color:#bbb;
}

.keyHighlight blockquote {
	background-color:#f0efed;
	border-left-color:#b7b7b5;
}

.keyHighlight table, .keyHighlight td, .keyHighlight thead, .keyHighlight th, .keyHighlight hr {
    border-color:#7d7c79;
}

.md {
	max-width: 620px;
	text-align:justify;
	margin-top:3px;
}

.md p{
	margin-top:0px;
	margin-bottom:6px;
}

pre, code {
	font-family:Consolas, Monaco, monospace;
	font-size:13px;
	overflow-x:visible;
}

.searchpane.raisedbox{
	background-color: #eee;
	padding: 7px 10px 7px 80px;
	border: 1px solid #aaa;
	border-radius:4px;
	margin-right:0px;
}

.search-summary{
    font-size:12px;
}

.searchpane h4{
	font-size:17px;
	font-weight:normal;
}

.searchfacets {
	padding: 10px;
	margin-top: 0px;
	margin-bottom:15px;
	box-shadow:none !important;
	background: white-smoke;
}

.searchfacets .title {
	margin: 0px;
	margin-bottom:10px;
}

.infobar {
	background-color: #ffcab6;
	padding: 7px 10px;
	margin: 5px 323px 20px 0px;
	border: 1px solid #ff4500;
	border-radius:4px;
	font-size: 13px;
}

.infobar p{
    margin:0px;
}

#sr-header-area .drop-choices.srdrop, .drop-choices, table#srList{
    background-color:white;
}

#sr-header-area .drop-choices.srdrop, .drop-choices, table#srList, .RESDropdownList {
	box-shadow: #888 1px 1px 5px 0px;
	border-width:0px;
	border-radius:4px !important;
	border-top-left-radius:0px !important;
	padding:5px;
	font-size:12px;
}

#sr-header-area .drop-choices.srdrop, .drop-choices {
    margin-top:4px;
}

#srList tr {
	border-width: 0px;
	font-size:11px;
}

.popup{
	position:absolute;
	top:-10px;
	padding-top:10px;
}

.promotedlink, .link.promotedlink.promoted, .link.promotedlink {
	opacity:0.7;
	font-style:italic;
	background-color:#f8f8f8;
	border:1px solid #ccc !important;
	margin-bottom:0px; 
	margin-top:0px;
	margin-left:10px;
	padding: 5px 5px 5px 0px;
	position:static;
	-moz-transition:opacity 0.3s ease-in 0s;
	-webkit-transition:opacity 0.3s ease-in 0s;
}

.promotedlink:hover, .link.promotedlink.promoted:hover {
	opacity:1;
	-moz-transition:opacity 0.3s ease-in 0s;
	-webkit-transition:opacity 0.3s ease-in 0s;
}

.link.promotedlink.promoted a {
	font-size:80%;
	color:gray;
}

.link.promotedlink.promoted p.title{
	line-height:1em;
	margin-bottom:-3px;
}

.organic-listing{
    border-width:0px;
}

.organic-listing .link{
    margin-top:0px;
}

p.sponsored-tagline{
    display:none;
}

.RESDialogSmall{
	box-shadow: #888 1px 1px 5px 0px;
	border-width:0px;
	border-radius:4px;
	font-size:13px;
}

.keyNavAnnotation{
	font-size:70%;
	vertical-align:super;
	line-height: 0;
	opacity:0.7;
}

.userattrs{
	font-size:12px;
	font-weight:bold;
	margin-right:2px;
}

.NERPageMarker, #progressIndicator {
	color: #7F7F7F;
	font-size: 14px;
	font-style:italic;
	background-color: whiteSmoke !important;
	margin-top:25px !important;
	margin-bottom:29px !important;
}

.fancy-toggle-button a, .fancy-toggle-button .add, .fancy-toggle-button .remove, .RESDashboardToggle, .RESDashboardToggle.remove, .RESFilterToggle, .res #authorInfoToolTip .blueButton, .pretty-button, .RESshortcutside {
	font-size:12px !important;
	background-image:none !important;
	border:none !important;
	white-space:nowrap;
}

.fancy-toggle-button .add, .RESDashboardToggle, .RESFilterToggle, .pretty-button.positive, .RESshortcutside{
	background-color:#00a523 !important;
	color:white !important;
}

.fancy-toggle-button .remove, .RESDashboardToggle.remove, .RESFilterToggle.remove, .pretty-button.negative, .RESshortcutside.remove {
	background-color:#ce1212 !important;
	color:white !important;
}
.RESDashboardToggle, .RESDashboardToggle.remove, .RESFilterToggle, .RESshortcutside{
	font-weight:normal !important;
	font-style:italic !important;
}

.fancy-toggle-button a:hover, .fancy-toggle-button .add:hover, .fancy-toggle-button .remove:hover, .RESDashboardToggle:hover, .res #authorInfoToolTip .blueButton:hover, .RESFilterToggle:hover, .pretty-button.positive:hover, .pretty-button.negative:hover, .RESshortcutside:hover {
    background-color:gray !important;
}

.single-page a.title, .single-page .thing .title.loggedin.click:visited, .single-page .thing .title.loggedin:visited{
	font-size:17px;
	font-style:italic;
	color:#0046af;
	line-height:1.3em;
}

input.btn{
	padding-left:5px; 
	padding-right:5px;
	padding-top:2px; 
	padding-bottom:2px;
}

.message .entry .parent{
	margin-left:0px; margin-right:0px;
	margin-top:5px; margin-bottom:10px;
	padding: 7px 10px;
	border: 2px solid #D4DFEF;
	border-radius:4px;
	opacity:0.8;
}

.menuarea li{
	font-size:16px;
	font-weight:normal;
	color:black;
	padding-right:17px;
	font-style:italic;
}

.message .subject .correspondent, .message .subject .correspondent.rounded{
	font-size:14px !important;
	font-weight: normal !important;
	font-style: italic !important;
}

.expand-btn{
	font-size:12px!important;
	font-style:italic !important;
}
.message .head a[style]{
    font-size:12px !important;
}

.link .likes .score, .link .dislikes .score, .link .score.likes, .link .score.dislikes, .link .score .unvoted, .link .score.likes, .link .score.dislikes, .link .score.unvoted {
	display:block !important;
	height:17px !important;
	overflow:hidden !important;
	opacity:1;
	-moz-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s;
	-webkit-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s;
}

.link .unvoted .score.likes, .link .dislikes .score.likes, .link .unvoted .score.dislikes, .link .likes .score.dislikes, .link .likes .score.unvoted, .link .dislikes .score.unvoted{
	height:0px !important;
	opacity:0;
	-moz-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s;
	-webkit-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s;
}

.arrow.upmod, .arrow.downmod{
	-moz-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s;
	-webkit-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s;
}

.linefield, form .roundfield{
    background:none;
}

.linefield .title{
	padding-left:7px;
	font-size:18px;
	font-weight:normal;
	color:black;
}

.linefield .title:hover{
    color:black;
}

.linefield .gray, .linefield .title + .gray{
	font-size:13px;
	font-style:italic;
}

.moderator .col{
    width:95% !important;
}

.moderator .col textarea {
	font-family:Consolas, Monaco, monospace;
	font-size:13px;
}

.moderator .content #sr-form ul, .moderator .content #sr-form p{
	font-size:14px;
	max-width:585px;
	text-align:justify;
}

.moderator #moderation_tools .content ul{
    font-size:12px;
}
.titlebox .toggle, .titlebox .leavemoderator, .titlebox form.toggle, .leavemoderator, .titlebox .option{
	font-size:medium;
	font-size:12px;
	font-style:italic;
}

body .expando-button, .expando-button.image{
    cursor:default !important;
}

p#noresults.error{
	display:inline-block;
	font-size:17px;
	font-style:italic;
	text-align:center;
	border:2px dashed #ddd;
	background-color:whiteSmoke;
	padding:40px;
	margin-top:30px;
	margin-left:30px;
	margin-right:10px;
	color:#aaa;
}

.res-nightmode #header, .res-nightmode div#header, .res-nightmode div#header-bottom-right, .res-nightmode #sr-header-area, .res-nightmode #sr-more-link, .res-nightmode .organic-listing .tabmenu, .res-nightmode #header-bottom-left {
	background-color:#171717 !important;
	box-shadow:none;
}

.res-nightmode #header{
    border-bottom: solid 1px #323232;
}

body.res-nightmode div.side div.spacer div.sidecontentbox h1{
	background:none !important;
	border:none !important;
}

.res-nightmode #sr-header-area a{
    color:white;
}

.res-nightmode textarea{
    color:white;
}

.res-nightmode a[href$="/spoiler"], .res-nightmode a[href$="#spoiler"] {
	outline: 1px solid #333;
	background-color: black;
	background-image:
	-webkit-linear-gradient(-45deg, transparent 25%, #333 25%, #333 50%, transparent 50%, transparent 75%, #333 75%, #333 100%, transparent);
	-moz-linear-gradient(-45deg, transparent 25%, #333 25%, #333 50%, transparent 50%, transparent 75%, #333 75%, #333 100%, transparent);
	background-size: 10px 10px;
	color:rgba(255, 255, 255, 0.0) !important;
}

.res-nightmode a[href$="/spoiler"]:hover, .res-nightmode a[href$="#spoiler"]:hover{
	background:none !important;
	color:white !important;
}

.res-nightmode .side .spacer > #search input{
background-color:black !important;
}

.res-nightmode input{
    color:white;
}

.res-nightmode #sr-header-area .drop-choices.srdrop, .res-nightmode .drop-choices, .res-nightmode table#srList{
    background-color:#222 !important;
}

.res-nightmode #sr-header-area .drop-choices.srdrop, .res-nightmode .drop-choices, .res-nightmode table#srList, .res-nightmode .RESDropdownList {
	box-shadow:none;
	border:1px solid #888 !important;
	border-radius:4px !important;
	border-top-left-radius:0px !important;
	padding:5px;
	font-size:12px;
}

.res-nightmode .menuarea .drop-choices {
	border:none !important;
	font-size: 16px !important;
	background: transparent !important;
}

.res-nightmode .drop-choices a.choice:hover{
	color:#8ad !important;
	background-color:#222 !important;
}

.res-nightmode .menuarea .drop-choices a.choice:hover{
	background-color:transparent !important;
}

.res-nightmode table#srList{
	color:white;
}

.res-nightmode #srList tr:hover {
	background-color:#222 !important;
}
.res-nightmode #RESShortcuts.sr-bar{
	color:white !important;
}

.res-nightmode ul.tabmenu a:hover {
	color:#8AD;
}

.res-nightmode .tabmenu li a {
	color:white;
}

.res-nightmode .tabmenu li.selected a {
	color:orangeRed !important;
}


.res-nightmode a, .res-nightmode .thing .title:hover, .res-nightmode .thing .title.loggedin:hover, .res-nightmode .tagline a:hover, .res-nightmode .wired a, .res-nightmode .side a{
	color:#8ad;
}

.res-nightmode a:hover, html .res-nightmode .pagename a, .res-nightmode div#header .hover.redditname a:hover{
	color:white !important;
}

.res-nightmode .dropdown.srdrop .selected {
color:white !important;
}

.res-nightmode code {
color: white !important;
}

.res-nightmode .tabmenu li a, .res-nightmode .login-form, .res-nightmode .login-form-side .submit {
	background-color:#171717 !important;
	color:white !important;
}

.res-nightmode .buttons:hover li{
	background-color:#222;
}

.res-nightmode .keyHighlight .buttons:hover li{
	background-color:#1A1A1A;
}

.res-nightmode .md, .res-nightmode .md p {
	color:white !important;
}

body.res-nightmode .keyHighlight {
	color:white !important;
	background-color:rgba(0, 0, 0, .18) !important;
	outline-color:rgba(0, 0, 0, .18) !important;
}

body.res-nightmode .keyHighlight .usertext-body, body.res-nightmode .keyHighlight .usertext-body .md, body.res-nightmode .keyHighlight .usertext-body .md p, body.res-nightmode .keyHighlight .noncollapsed, body.res-nightmode .keyHighlight .noncollapsed .md, body.res-nightmode .keyHighlight .noncollapsed .md p {
	color:white !important;
	background:none !important;
	outline:none !important;
}

.res-nightmode .usertext.border .usertext-body {
	border:none !important;
	background-color:#1b1b1b !important;
}

.res-nightmode .comment div.child {
	border-left:1px solid #333 !important;
}

.res-nightmode .flair, .res-nightmode .linkflairlabel{
	color:white !important;
	background-color: #222 !important;
	border-color:#333 !important;
}

.res-nightmode .menuarea, .res-nightmode div.menuarea, .res-nightmode .commentarea .menuarea {
	background-color: #26313A;
	border: 1px solid #384F67;
}

body.res-nightmode .menuarea .drop-choices form, body.res-nightmode .menuarea .drop-choices a, body.res-nightmode .menuarea a, body.res-nightmode .menuarea .drop-choices a.choice, body.res-nightmode .drop-choices a {
    color:white !important;
}

body.res-nightmode .menuarea .drop-choices form:hover, body.res-nightmode .menuarea .drop-choices a:hover, body.res-nightmode .menuarea a:hover, body.res-nightmode .menuarea .drop-choices a.choice:hover, body.res-nightmode .drop-choices a:hover {
    color:#8AD !important;
}

.res-nightmode h2{
    color:#999 !important;
}

.res-nightmode .entry p.tagline:first-of-type, .res-nightmode .entry time {
    color:#999 !important;
}

.res-nightmode .entry .domain a {
color:#777 !important;
}

.res-nightmode input#shortlink-text{
color:white !important;
}

.res-nightmode form#login_login-main.login-form.login-form-side, .res-nightmode .login-form-side {
	background-color:#171717 !important;
	border-top-width:0px !important;
	border-right-width:0px !important;
	border-left-width:0px !important;
	border-bottom-width:0px !important;
}
.res-nightmode input[type="text"],  .res-nightmode .login-form input[name*="passwd"]{
	background-color:#171717 !important;
	color:white !important;
}
.res-nightmode input[type="text"]:hover,  .res-nightmode .login-form input[name*="passwd"]:hover{
	background-color:#777 !important;
}
.res-nightmode .login-form-side label{
	color:white !important;
}

.res-nightmode div.styleToggle{
	background-color:#222;
}

.res-nightmode blockquote, .res-nightmode .md blockquote, .res-nightmode .help blockquote {
	background-color:#2a2a2a !important;
	border-left-color:#555555 !important;
}

.res-nightmode .markdownEditor a {
	background-color:#171717;
	border: 1px solid #444;
}

.res-nightmode .markdownEditor a:hover {
	background-color: #444;
}


.res-nightmode a.expand:hover, .comment .res-nightmode .expand:hover {
	background-color:#8AD;
	color:black !important;
}

.res-nightmode .usertext-edit textarea {
	background-color: #171717 !important;
	color: white !important;
}

.res-nightmode .RESDialogSmall, .res.res-nightmode .usertext-edit .RESDialogSmall > h3{
	background:none !important;
}

.res-nightmode .comment .md p a[href$="/spoiler"], .res-nightmode .comment .md p a[href$="#spoiler"] {
	background-color:#999 !important;
	color: #999 !important;
}

.res-nightmode .comment .md p a[href$="/spoiler"]:hover, .res-nightmode .comment .md p a[href$="#spoiler"]:hover {
	color:white !important;
	background-color:#222 !important;
}

.res-nightmode #RESDashboardAddComponent{
    background-color: #041b09 !important;
}

.res-nightmode .RESDashboardComponentHeader{
    background-color:#171717 !important;
}

.res-nightmode .RESDashboardComponent {
    border: 1px solid #171717 !important;
}

.res-nightmode .RESDashboardComponentHeader ul li, .res-nightmode ul.widgetSortButtons li, .res-nightmode ul.widgetStateButtons li{
    color:white !important;
}

.res-nightmode .RESDashboardComponentHeader ul li.active, .res-nightmode ul.widgetSortButtons li.active, .res-nightmode ul.widgetStateButtons li.active{
    color:orangeRed !important;
}

.res-nightmode #userTaggerTable th, .res-nightmode #newCommentsTable th{
    background-color: #171717 !important;
}

.res-nightmode .sidecontentbox .content{
    background-color:#171717 !important;
}

.sidecontentbox {
    background-color: transparent !important;
}

.res-nightmode .sponsorshipbox div{
    opacity:0.8 !important;
}

.res-nightmode p#noresults.error{
	border:2px dashed #353535;
	background-color:#171717;
	color:#c0c0c0;
}

.res-nightmode .usertext.grayed .usertext-body{
    background-color:#171717 !important;
}

}