@-moz-document domain('reddit.com'){

/* remove some elements */
#header span.pagename, /* remove page name e.g. 'Gaming' */
#sr-header-area, /* bar that contains subreddit links */
.giftgold, .goldvertisement, .gilded-comments-link, /* gold related */
.trophy-area, /* trophy box */
.account-activity-box, /* link to account activity */
.listing-chooser .contents h3, /* 'multireddits' title */
div.footer-parent, /* entire footer */
.panestack-title, /* name of display (eg top 500 comments) on comment page */
.side .create, /* create your own subreddit link */
.reddiquette, /* reddiquette link below comment box */
.shortlink, /* shortlink in right sidebar */
.thumbnail.self, .thumbnail.default, #header-img{    
  display: none !important;
}

/***********************
******* HEADER *********
***********************/

/* reduce header height to match actual contents */
#header, #header-bottom-left{ 
    min-height: 25px !important; 
    height: 25px !important;
    padding-bottom: 8px !important;
    background-color:#f5f5f5 !important;
}

#header{
	border: 1px solid #f5f5f5 !important;
    box-shadow: #888 0px 0px 5px 0px !important;
}

/* Make sure the tab menu is aligned correctly on each page */
#header .tabmenu {	
    margin-top:0px !important;
    border-width: 0px !important; 
    border-style: none !important;
    display: block !important;
    float: left !important;
    margin-left: 0px !important;
    position: relative !important;
    top: 5px !important;
    left: 15px !important;
    z-index: 97 !important;
    overflow: visible !important;
    width: 100px !important;
}

#header-bottom-left ul.tabmenu a:hover {
    color:#0046af !important;
}

#header-bottom-left ul.tabmenu li {
    font-size:16px !important;
    font-weight:normal !important;
}

#header-bottom-left ul.tabmenu li a {
    background-color:#f5f5f5 !important;
    background:none !important;
    border:none !important;
    color:black !important;
    text-decoration: none !important;
    font-weight: normal !important;
    padding-top: 0px !important;
}

#header-bottom-left ul.tabmenu li.selected a {
    background:none !important;
    border:none !important;
    color: red !important;
    border-style: none !important;
}

#header-bottom-right{
  background:none !important;  
  position:absolute !important;
  font-size:11px !important;
  top: 4px !important;  /* put the user info box on the top line of the header */
  right: 10px !important;
  background-color:#f5f5f5 !important;  
}

#header-bottom-right .separator {
    font-size:0px !important;
    padding-left: 4px !important;
    margin: 0px !important;
}

#userbarToggle{
    background-color: inherit !important;
    border-right: 0px !important;
    border-style:none !important;
    color: gray !important;
    font-size: 20px !important;
    font-weight: bold !important;
    top: -1px !important;
}

#search {
	margin-top: 13px !important;
}

#search input[type="text"]{
    height: 19px !important;
    color:black !important;
    font-family: inherit !important;
    font-size:13px !important;
    font-style: italic !important;
    -moz-transition:all 0.1s linear 0s !important;
    -webkit-transition:all 0.1s linear 0s !important;
}

#searchexpando{
	padding: 7px 10px !important;
    border: 1px solid #ff4500 !important;
    border-radius:4px !important;
    font-size: 12px !important;
    background-color:#fbfbfb !important;
    box-shadow:#888 1px 1px 5px 0px !important;
    border-style:none !important;
    border-color:gray !important;
    line-height:1.7em !important;
}

#searchexpando p {
    margin:0px !important;
}

.search-page #search{
    position: inherit !important;
    width: inherit !important;
    height: inherit !important;
}

.search-page form#search input[type="text"]{
    text-align: left !important;
    margin-left: 0px !important;    
}

.search-page form#search br:nth-of-type(1){
   display: none !important;    
}

.searchpane.raisedbox {
    background-color: #eee !important;
    padding: 2px 10px 7px 80px !important;
    border: 1px solid #aaa !important;
    border-radius:4px !important;
    margin-right:0px !important;    
}

.search-summary {
    font-size:12px !important;
    margin: 3px 8px 0 0 !important;
}

.searchpane h4{
    font-size: 17px !important;
    font-weight:normal !important;
}

.searchfacets {
    padding: 10px !important;
    margin-top: 0px !important;
    margin-bottom:15px !important;
    box-shadow:none !important;
}

.searchfacets .title {
    margin: 0px !important;
    margin-bottom:10px !important;
}

/**************************
******* LEFT SIDEBAR ******
***************************/

.with-listing-chooser .listing-chooser{  
  top: 0px !important;   
  padding-top: 35px !important;
  height: 100% !important;
}

/* reduce spacing above "everything" in the multireddit sidebar */
.listing-chooser ul.other{
  margin-top: 0px !important;
}


/***************************
******* RIGHT SIDEBAR ******
****************************/

.titlebox {
   font-size: small !important;    
}

.titlebox .karma, .titlebox h1{
font-size: medium !important;   
}

.linkinfo {
    padding: 6px !important;
    padding-bottom:0px !important;
    border: none !important;
    background-color: whiteSmoke !important;
    border:1px solid #ddd !important;
    font-family: inherit !important;
    font-style:italic !important;
    line-height:1.5em !important;
}

.linkinfo .date span{
    display:none !important;
}

.linkinfo .score .number {
    font-size:16px !important;
}

.linkinfo .upvotes {
    font-size: 12px !important;
    color:#b86d52 !important;
}

.linkinfo .downvotes {
    font-size: 12px !important;
    color:#8d8db8 !important;
}

.morelink{
    background-image:none !important;
    text-align:left !important;
    font-weight:normal !important;
    font-style:italic !important;
    color:black !important;
    letter-spacing:0px !important;
    background-color: whiteSmoke !important;
    border:1px solid #B4B4B4 !important;
    border-radius:4px !important;
    height:auto !important;
    padding: 6px 9px !important;
    line-height:1.4em !important;
    -moz-transition: all 0.2s ease-out 0s !important;
    -webkit-transition: all 0.2s ease-out 0s !important;
}

.morelink:hover{
    background-color: #FFCAB6 !important;
    border: 1px solid orangeRed !important;
    -moz-transition: all 0.2s ease-out 0s !important;
    -webkit-transition: all 0.2s ease-out 0s !important;
}

.morelink:hover a {
    color:black !important;
}

.morelink a {
    color:black !important;
}
.nub {
    display:none !important;
}

.sidebox.submit .spacer, .sidebox.create .spacer {
    display:none !important;
}

/*********************
******* CONTENT ******
**********************/

body {
	background-color: white !important;
}

/* when page is (nearly) empty, make sure to fill the screen anyway */
.with-listing-chooser {
    min-height: -moz-calc(100% - 36px) !important;
	min-height: -webkit-calc(100% - 36px) !important;
	min-height: -o-calc(100% - 36px) !important;
	min-height: calc(100% - 36px) !important;
}

.content{
    margin-top: 13px !important;
    margin-left:10px !important;
    margin-right:10px !important;
}

.guider{
	display: none !important;
}

.tagline, .tagline span, .flat-list.buttons{
    font-size: 11px !important;
}

.commentarea .flat-list{
	top: 1px !important;
	margin-left: 5px !important;
}

/* small res fix ("source" link is otherwise most to the left of comment/share/...) */
.flat-list .viewSource {
	 min-width: 0px !important;
	 clear: inherit !important;
	 float: inherit !important;
}

.title{
	color: #0046af !important;
}

.commentarea .usertext-body, .profile-page .usertext-body, .message .usertext-body  {
	float: left !important;
	clear: left !important;
	text-align: justify !important;
	overflow-x: visible !important;
}

.usertext-body, .commentarea .usertext-body, .profile-page .usertext-body, .message .md {
    max-width:38em !important;
}

.RES-keyNav-activeElement{
    outline-width: 0px !important;
    border-radius:3px !important;
    background-color:#f0f4fb !important;
}

.RES-keyNav-activeElement .usertext-body, .RES-keyNav-activeElement .usertext-body .md, .RES-keyNav-activeElement .usertext-body .md p, .commentarea .RES-keyNav-activeElement .noncollapsed,
	.res-nightmode .RES-keyNav-activeElement .usertext-body, .res-nightmode .RES-keyNav-activeElement .usertext-body .md, 
	.res-nightmode .RES-keyNav-activeElement .usertext-body .md p, .res-nightmode .commentarea .RES-keyNav-activeElement .noncollapsed {
    background-color: inherit !important;
}

.link .usertext .md {
	background-color: transparent !important;
	border-width: 0px !important;
	border-radius: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	max-width: 38em !important;
}

.usertext.grayed .usertext-body {
	font-style:italic !important;
	padding-bottom: 3px !important;
	padding-left: 9px !important;
	padding-right: 9px !important;
	padding-top: 3px !important;
	margin-bottom:8px !important;
	color:#555 !important;
}

.md {
	font-size: 14px !important;
	overflow: visible !important;
}

.usertext-body h3 {
    margin-top:8px !important; 
    margin-bottom:8px !important;
}

blockquote, .md blockquote, .help blockquote {
	background-color:whiteSmoke !important;
	border-left-color:#bbb !important;
	border-left-width:4px !important;
	border-top-right-radius:6px !important; border-bottom-right-radius:6px !important;
	margin-left:0px !important; margin-right:0px !important;
	margin-bottom: 8px !important; margin-top: 3px !important;
	padding-top:6px !important; padding-bottom:2px !important;
	padding-left:9px !important; padding-right:11px !important;
}

.usertext-body table, .usertext-body td, .usertext-body thead, .usertext-body th, .usertext-body hr {
	border-style:solid !important;
	border-color:gray !important;
	border-width:0px !important;
	border-bottom-width:1px !important;
	padding-top:3px !important;
}
.usertext-body td{
	padding:7px !important;
	vertical-align:top !important;
}
.usertext-body table{
	margin-left:0px !important; margin-right:0px !important;
	margin-bottom: 11px !important;
}

hr {
	border-style: solid !important;
	border-width: 1px !important;
	border-color:gray !important;
	margin-top:0px !important;
	margin-bottom:30px !important;
}

.md > * { 
	margin-bottom :8px !important; 
} 

.usertext-body ul{
	margin-bottom:11px !important;
	margin-right:0px !important;
	margin-left:25px !important;
}

.usertext-body li{
	margin-bottom:7px !important;
	margin-left:0px !important;
}

sup, sub, .commentarea .expando-button{
    line-height: 0 !important;
}

.md ol, .md ul, .md pre {
    margin-right:0px !important;
}

.thumbnail {
    border-radius: 2px !important;
}

.entry{
	padding-left: 10px !important;
	margin-bottom: 5px !important;
}

.link{
    margin-top: 7px !important;
    margin-bottom: 7px !important;
}

.with-listing-chooser .content{
	margin-left: 150px !important;
}

.with-listing-chooser.listing-chooser-collapsed .content{
    margin-left: 10px !important;
}

.res_comment_ups {
	color: #b86d52 !important;
	font-weight:normal !important;
}
.res_comment_downs {
    color: #8d8db8 !important;
	font-weight:normal !important;
}
.res_post_ups {
    color:#b86d52 !important;
}
.res_post_downs {
    color:#8d8db8 !important;
}

.menuarea{
    font-size: 13px !important;
    border-bottom-style:none !important;
    margin-top:7px !important; 
    margin-bottom:12px !important;
    margin-left:10px !important; 
    margin-right:0px !important;
    padding:4px 8px 4px 8px !important;
    border-radius:3px !important;
    background-color:#f0f4fb !important;
    border:1px solid #d4dfef !important;
    font-style:italic !important;
    white-space:normal !important;
    color:#8897AE !important;
}

.listing-page .menuarea, .search-page .menuarea{
    margin-bottom:18px !important;
    padding:6px 6px 1px 10px !important;
    margin-left:6px !important;
}

.menuarea .selected, .commentNavSortType{
    font-weight:normal !important;
}

.menuarea .drop-choices{
    font-size:14px !important;
}

.loggedin .commentarea .menuarea{
   margin-bottom:2px !important;
}

.menuarea .spacer{
    font-size:17px !important;
}

.comments-page .menuarea .spacer{
    margin-bottom:0px !important;
}

.menuarea .separator{
    display:none !important;
}

.commentNavSortTypeDisabled{
    color:#ccd4e0 !important;
}

.menuarea .dropdown{
    display:none !important;
}

.menuarea .drop-choices{
    display:inline !important;
    position:static !important;
    box-shadow:none !important;
    font-size:16px !important;
    white-space: normal !important;
    background:transparent !important;
    border: 0px !important;
}

.menuarea .drop-choices form, .menuarea .drop-choices a, .menuarea a, .menuarea .drop-choices a.choice {
    display:inline !important;
}

.menuarea .drop-choices a:hover, .messages-page .menuarea a:hover{
    background:none !important;
    color:#0046af !important;
    text-decoration: none !important;
}

.menuarea .drop-choices a{
    margin-left:10px !important;
}

input[type="hidden"], .drop-choices a.choice.selected, body.res-nightmode .menuarea .drop-choices form a.choice.selected{
    display:inline !important;
    color:orangeRed !important;
}

.menuarea .dropdown-title{
    font-size:14px !important;
    font-style:normal !important;
    line-height:24px !important;
    color:#8897ae !important;
}

.menuarea .spacer{
    display:block !important;
}

.res .RESDialogSmall.livePreview {
    box-shadow: none !important;
    margin-top: 0px !important;
}

.res .usertext-edit .RESDialogContents{
    margin-left: 0px !important; 
    margin-right: 0px !important;
    margin-top: 0px !important; 
    margin-bottom: 10px !important;
    border: 2px solid #D4DFEF !important;
    border-radius: 4px !important;
    padding-top: 9px !important; 
    padding-bottom: 4px !important;
}

.res .usertext-edit .RESDialogSmall{
    border:none !important;
}

.res .usertext-edit .RESDialogSmall > h3 {
    font-size: 16px !important;
    margin-top: 0px !important;
    margin-bottom: 7px !important;
    font-style:italic !important;
    position: static !important;
    background:none !important;
    border:none !important;
    height: auto !important;
    padding-left: 3px !important;
    padding-top: 0px !important;
}

.sitetable form.usertext.cloneable{
    margin-top:10px !important;
}

body .sitetable .usertext-edit{
    margin-bottom:0px !important;
}

/***************************
********* Voting ***********
****************************/

.arrow.up, .arrow.down, .arrow.up:hover, .arrow.down:hover, .arrow.upmod, .arrow.downmod, 
    .res-nightmode .arrow.up, .res-nightmode .arrow.down,  .res-nightmode .arrow.up:hover, .res-nightmode .arrow.down:hover, .res-nightmode .arrow.upmod, .res-nightmode .arrow.downmod,  
    .thumbnail.self, .thumbnail.default, .thumbnail.nsfw, time.edited-timestamp {
    background-image: url(http://f.thumbs.redditmedia.com/3ooonkjj2lVSwgtw.png) !important;
}

.arrow {
    width: 15px !important;
    height: 14px !important;
}

.arrow.up, .res-nightmode .arrow.up, .loggedin .arrow.up:hover, .loggedin.res-nightmode .arrow.up:hover{
    background-position: -0px -642px !important;
    background-repeat: no-repeat !important;
    cursor:pointer;
}

.arrow.down, .res-nightmode .arrow.down, .loggedin .arrow.down:hover, .loggedin.res-nightmode .arrow.down:hover{
    background-position: -15px -656px !important;
    background-repeat: no-repeat !important;
    cursor:pointer;
}

.arrow.upmod, .res-nightmode .arrow.upmod {
    background-position: -0px -656px !important;
    background-repeat: no-repeat !important;
}

.arrow.downmod, .res-nightmode .arrow.downmod {
    background-position: -15px -642px !important;
    background-repeat: no-repeat !important;
}


/********************************
**** RES Nightmode specific *****
*********************************/
.res-nightmode #header, .res-nightmode #header-bottom-right, .res-nightmode #header-bottom-left{
	background-color:#171717 !important; /* 171717 */ 
    box-shadow:none !important;
}

.res-nightmode .single-page a.title, .res-nightmode .single-page .thing .title.loggedin.click:visited, .res-nightmode .single-page .thing .title.loggedin:visited{
    color:#88AADD !important;
}

.res-nightmode, .res-nightmode .side, .res-nightmode .side .linkinfo, .res-nightmode .side .titlebox, .res-nightmode .side h1, 
    .res-nightmode .side md,  .res-nightmode .side ol, .res-nightmode .side li, .res-nightmode #sr-more-link, .res-nightmode .organic-listing .tabmenu, .res-nightmode .content {
    background-color: #171717 !important;
    box-shadow:none !important;
}

.res-nightmode .menuarea, .res-nightmode div.menuarea, .res-nightmode .commentarea .menuarea, .res-nightmode .searchpane.raisedbox, .res-nightmode .searchfacets {
    background-color: #26313A !important; /* 26313A */
    border: 1px solid #384F67 !important;
}

.res-nightmode .RES-keyNav-activeElement{
    background-color: #3D3D3D !important; /* #3D3D3D */
}

.res-nightmode .thumbnail.self, .res-nightmode .thumbnail.default, .res-nightmode .thumbnail.nsfw {
    background-image: url(http://c.thumbs.redditmedia.com/0ZkZPsviQScvt3an.png) !important;
}

.res-nightmode #searchexpando{
    background-color:#26313A !important;
    color: white !important;
    box-shadow: 0 0 0 0 #888888 !important;
}

.res-nightmode .expando-button.selftext.collapsed, .res-nightmode .expando-button.selftext.collapsed:hover, .res-nightmode .eb-sch, .res-nightmode .expando-button.selftext.expanded, .eb-se, .res-nightmode .expando-button.selftext.expanded:hover, .eb-seh, .res-nightmode .expando-button.video.collapsed, .res-nightmode .expando-button.video.collapsed:hover, .res-nightmode .eb-vch, .res-nightmode .expando-button.video.expanded, .res-nightmode .eb-ve, .res-nightmode .expando-button.video.expanded:hover, .res-nightmode .eb-veh, body.res-nightmode  .expando-button.image{
    background-image:url(http://c.thumbs.redditmedia.com/n8fFm75rDzKvc8A8.png) !important;
}

.res-nightmode #header{
	border: 0px solid #F5F5F5 !important;
    border-bottom: solid 1px #323232 !important;
}

.res-nightmode .side .morelink {
	background-color: #26313A !important;
	color: white !important;
	border: 1px solid black !important;
/* 	box-shadow: #888 1px 1px 5px 0px !important; #888 1px 1px 5px 0px */
}

.res-nightmode a[href$="/spoiler"], .res-nightmode a[href$="#spoiler"] {
    outline: 1px solid #333 !important;
    background-color: black !important;
    background-image: webkit-linear-gradient(-45deg, transparent 25%, #333 25%, #333 50%, transparent 50%, transparent 75%, #333 75%, #333 100%, transparent) !important;
    background-size: 10px 10px !important;
    color:rgba(255, 255, 255, 0.0) !important;
}

.res-nightmode a[href$="/spoiler"]:hover, .res-nightmode a[href$="#spoiler"]:hover{
    background:none !important;
    color:white !important;
}
.res-nightmode #search input{
	color: black !important;
}

.res-nightmode .side .spacer > #search input{
    background-color: black !important;
    color:white !important;
}

.res-nightmode input{
	background-color: black !important;
    color:white !important;
}

.res-nightmode .drop-choices, .res-nightmode table#srList{
    background-color:#222 !important;
}

.res-nightmode .drop-choices, .res-nightmode table#srList, .res-nightmode .RESDropdownList {
    box-shadow: none !important;
    border: 1px solid #888 !important;
    border-radius: 4px !important;
    border-top-left-radius: 0px !important;
    padding: 5px !important;
    font-size: 12px !important;
}

.res-nightmode .menuarea .drop-choices {
    border:none !important;
    font-size: 16px !important;
    background: transparent !important;
}

.res-nightmode .drop-choices a.choice:hover{
    color: #8ad !important;
    background-color: #222 !important;
}

.res-nightmode .menuarea .drop-choices a.choice:hover{
    background-color:transparent !important;
}

.res-nightmode table#srList{
    color:white !important;
}

.res-nightmode #srList tr:hover {
    background-color:#222 !important;
}
.res-nightmode #RESShortcuts.sr-bar{
    color:white !important;
}

.res-nightmode #header-bottom-left .tabmenu a:hover {
    color:#8AD !important;
}

.res-nightmode #header-bottom-left .tabmenu li a {
    color:white !important;
}

.res-nightmode #header-bottom-left .tabmenu li.selected a {
    color:orangeRed !important;
}

.res-nightmode .thing a.title{
	color: white !important;
}

.res-nightmode a, .res-nightmode .thing .title:hover, .res-nightmode .thing .title.loggedin:hover, .res-nightmode .tagline a:hover, .res-nightmode .wired a, .res-nightmode .side a{
    color: #8ad !important; /* #8ad */
}

.res-nightmode a:hover, .res-nightmode div#header .hover.redditname a:hover{
    color:white !important;
}

.res-nightmode .dropdown.srdrop .selected {
color:white !important;
}

.res-nightmode code {
color: white !important;
}

.res-nightmode .tabmenu li a, .res-nightmode .login-form, .res-nightmode .login-form-side .submit {
    background-color:#171717 !important;
    color:white !important;
}

.res-nightmode .buttons:hover li{
	 background-color: inherit !important;
/*     background-color:#222 !important; */
}

.res-nightmode .keyHighlight .buttons:hover li{
    background-color:#1A1A1A !important;
}

.res-nightmode .md, .res-nightmode .md p {
    color:white !important;
}

.res-nightmode .linkinfo{
    border: 0px solid #DDDDDD !important;	
}

.res-nightmode .keyHighlight {
    color:white !important;
    background-color:rgba(0, 0, 0, .18) !important;
    outline-color:rgba(0, 0, 0, .18) !important;
}

.res-nightmode .keyHighlight .usertext-body, body.res-nightmode .keyHighlight .usertext-body .md, body.res-nightmode .keyHighlight .usertext-body .md p, body.res-nightmode .keyHighlight .noncollapsed, body.res-nightmode .keyHighlight .noncollapsed .md, body.res-nightmode .keyHighlight .noncollapsed .md p {
    color:white !important;
    background:none !important;
    outline:none !important;
}

.res-nightmode .usertext.border .usertext-body {
    border:none !important;
    background-color:#1b1b1b !important;
}

.res-nightmode .flair, .res-nightmode .linkflairlabel{
    color:white !important;
    background-color: #222 !important;
    border-color:#333 !important;
}

.res-nightmode .menuarea .drop-choices form, .res-nightmode .menuarea .drop-choices a, .res-nightmode .menuarea a, .res-nightmode .menuarea .drop-choices a.choice, .res-nightmode .drop-choices a {
    color:white !important;
}

.res-nightmode .menuarea .drop-choices form:hover, .res-nightmode .menuarea .drop-choices a:hover, .res-nightmode .menuarea a:hover, .res-nightmode .menuarea .drop-choices a.choice:hover, .res-nightmode .drop-choices a:hover {
    color:#8AD !important;
}

.res-nightmode h2{
    color:#999 !important;
}

.res-nightmode .entry p.tagline:first-of-type, .res-nightmode .entry time {
    color:#999 !important;
}

.res-nightmode .entry .domain a {
color:#777 !important;
}

.res-nightmode input#shortlink-text{
color:white !important;
}

.res-nightmode form#login_login-main.login-form.login-form-side, .res-nightmode .login-form-side {
    background-color:#171717 !important;
    border-top-width:0px !important;
    border-right-width:0px !important;
    border-left-width:0px !important;
    border-bottom-width:0px !important;
}
.res-nightmode input[type="text"],  .res-nightmode .login-form input[name*="passwd"]{
    background-color:#171717 !important;
    color:white !important;
}
.res-nightmode input[type="text"]:hover,  .res-nightmode .login-form input[name*="passwd"]:hover{
    background-color:#777 !important;
}
.res-nightmode .login-form-side label{
    color:white !important;
}

.res-nightmode div.styleToggle{
    background-color:#222 !important;
}

.res-nightmode blockquote, .res-nightmode .md blockquote, .res-nightmode .help blockquote {
    background-color:#2a2a2a !important;
    border-left-color:#555555 !important;
}

.res-nightmode .markdownEditor a {
    background-color:#444 !important;
    border: 1px solid #171717 !important;
}

.res-nightmode .markdownEditor a:hover {
    background-color: #171717 !important;
}

.res-nightmode a.expand:hover, .comment .res-nightmode .expand:hover {
    background-color:#8AD !important;
    color:black !important;
}

.res-nightmode .RESDialogSmall, .res.res-nightmode .usertext-edit .RESDialogSmall > h3{
    background:none !important;
}

.res-nightmode .comment .md p a[href$="/spoiler"], .res-nightmode .comment .md p a[href$="#spoiler"] {
    background-color:#999 !important;
    color: #999 !important;
}

.res-nightmode .comment .md p a[href$="/spoiler"]:hover, .res-nightmode .comment .md p a[href$="#spoiler"]:hover {
    color:white !important;
    background-color:#222 !important;
}

.res-nightmode #RESDashboardAddComponent{
    background-color: #041b09 !important;
}

.res-nightmode .RESDashboardComponentHeader{
    background-color:#171717 !important;
}

.res-nightmode .RESDashboardComponent {
    border: 1px solid #171717 !important;
}

.res-nightmode .RESDashboardComponentHeader ul li, .res-nightmode .widgetSortButtons li, .res-nightmode .widgetStateButtons li{
    color:white !important;
}

.res-nightmode .RESDashboardComponentHeader ul li.active, .res-nightmode .widgetSortButtons li.active, .res-nightmode .widgetStateButtons li.active{
    color:orangeRed !important;
}

.res-nightmode #userTaggerTable th, .res-nightmode #newCommentsTable th{
    background-color: #171717 !important;
}

.res-nightmode .sponsorshipbox div{
    opacity:0.8 !important;
}

.res-nightmode #noresults.error{
    border:2px dashed #353535 !important;
    background-color:#171717 !important;
    color:#c0c0c0 !important;
}

.res-nightmode .usertext.grayed .usertext-body{
    background-color:#171717 !important;
}


/********************************
******** Unordered **************
*********************************
 not made by me except for some changes (much of the above was taken from this as well, and modified) 
 */
body, #main, input, button, .wikipage, .wikipage h1, .wikipage h2, .wikipage h3, .wikipage h4, .flat-vert.title {
    font-family:"Segoe UI", "PT Sans", "Open Sans", "Ubuntu", "Tahoma", "Myriad Web", sans-serif !important;
}


.toggleImage, .expando-button.image, .RESGalleryControls a, .RESUserTagImage, body .toggleImage, body .expando-button.image, body .RESGalleryControls a, body .RESUserTagImage{
    background-image: url(http://c.thumbs.redditmedia.com/nBCW80XuC2_qMu_D.png) !important;
}

#srLeftContainer {
    display: inline !important;
}

#mailCount{
    color:orangeRed !important;
}

#RESAccountSwitcherIcon {
    display: inline !important;
}

.user .userkarma{
    border-bottom-style:none !important;
}

.listing-page .thing {
    padding-left:0px !important;
}

.rank{
	min-width: 19px !important;
	position:relative !important;
	top:2px !important;
}

.link .rank{
	font-family:inherit !important;
	font-size:12px !important;
}

span.score.unvoted, span.score.likes span.score.dislikes{
    font-size:11px !important;
}

div.score{
    font-size:13px !important;
}

.score.likes, .link .score.likes {
	color:#ff4500 !important;
	margin-left:0px !important;
}

.link .score.unvoted {
	color:#aeaeae !important;
	margin-left:0px !important;
}

.midcol .score.dislikes, .link .score.dislikes, .res_post_downs {
    color:#9494FF !important;
}

.score.dislikes, .link .score.dislikes {
    margin-left:0px !important;
}

.link .score{
	position:relative !important;
	left:0px !important;
}

.commentarea .score.likes, .commentarea .score.dislikes{
    font-style:italic !important;
}

.titlebox h1{
    font-family:inherit !important;
}

.link .tagline {
	font-style:italic !important;
	font-size:11px !important;
}

.link .flat-list.buttons{
    font-size:12px !important;
}

.noncollapsed, .flat-list.buttons li{
    display:inline !important;
}

.domain a{
	font-size:12px !important;
	font-style:italic !important;
	color:#999999 !important;
}
.domain{
    font-size:0px !important;
}

.domain a:hover{
    color:#0046af !important;
    text-decoration:none !important;
}

.linklisting .expando{
    margin-bottom:0px !important;
}

.link.last-clicked {
	border: 0px !important;
	opacity:0.5 !important;
	-moz-transition:opacity 0.3s ease-in 0s !important;
	-webkit-transition:opacity 0.3s ease-in 0s !important;
}

.link.last-clicked:hover {
	opacity:1 !important;
	-moz-transition:opacity 0.3s ease-in 0s !important;
	-webkit-transition:opacity 0.3s ease-in 0s !important;
}

.comments-page .link.last-clicked{
    opacity:1 !important;
}

.nsfw-stamp acronym {
	color:white !important;
	background-color:#be0d3e !important;
	border:1px solid #be0d3e !important;
	font-size:11px !important;
	font-weight:bold !important;
	font-style:italic !important;
}

.nextprev{
	margin-top:15px !important;
	font-size:14px !important;
	font-style:italic !important;
}

.imgCaptions, .imgCredits, .RESGalleryLabel{
	font-size:14px !important;
	font-style:italic !important;
}

.listing-page a.title[href$="a3u/"]:after{
	content:"[Aerial Update]" !important;
	font-size:20px !important;
	color:white !important;
	font-weight:bold !important;
	background-color:#00A523 !important;
	padding: 0px 5px 2px 5px !important;
	margin-left: 8px !important;
	white-space:nowrap !important;
}

.usertext-edit , body .usertext-edit {
	width:auto !important;
	max-width:615px !important;
	margin-top:6px !important;
	margin-bottom:10px !important;
	padding-left:0px !important;
}

.usertext-edit textarea{
	font-family:inherit !important;
	font-size:14px !important;
	width:98% !important;
}

.viewSource{
	float: left !important;
	clear: left !important;
	min-width:500px !important;
}

.viewSource textarea{
    background-color:#ddd !important;
}

.markdownEditor{
	display:inline !important;
	white-space:normal !important;
}

.comment .score{
    font-size:11px !important;
}

.tagline{
    font-style:italic !important;
}

.tagline .author, .tagline .userattrs{
    font-style:normal !important;
}

time.edited-timestamp{
	display:inline-block !important;
	width: 11px !important;
	height: 9px !important;
	background-position: -52px -658px !important;
	background-repeat: no-repeat !important;
	text-indent: -9999px !important;
	margin-left:2px !important;
	margin-right:1px !important;
}

.comment .midcol{
    margin-top:2px !important;
}

p a:hover {
    text-decoration:underline !important;
}

.tagline .linkflairlabel{
font-size:11px !important;
}

.flair{
	border-radius:2px !important;
	font-style:normal !important;
	padding-left:3px !important; padding-right:3px !important;
	padding-top:2px !important; padding-bottom:2px !important;
}

.link .linkflairlabel{
    font-size:12px !important;
}

a[href$="/spoiler"], a[href$="#spoiler"] {
	outline: 1px solid #ccc !important;
	background-color: white !important;
	background-image: linear-gradient(-45deg, transparent 25%, #ccc 25%, #ccc 50%, transparent 50%, transparent 75%, #ccc 75%, #ccc 100%, transparent) !important;
	background-size: 10px 10px !important;
	color:rgba(0, 0, 0, .0) !important;
}

a[href$="/spoiler"]:hover, a[href$="#spoiler"]:hover{
	color:black !important;
	text-decoration:none !important;
	background-color:transparent !important;
	background-image:none !important;
	-moz-transition:all 1s ease-in 0s !important;
	-webkit-transition:all 1s ease-in 0s !important;
}

.comment .child{
	margin-bottom:0px !important;
	margin-top:0px !important;
	margin-left:7px !important;
	padding-left:8px !important;
}

a.expand, .comment .expand {
	font-size:15px !important;
	padding-left:0px !important;
	margin-right:3px !important;
}

a.expand:hover, .comment .expand:hover {
	background-color:#0046af !important;
	color:white !important;
	margin-top:0px !important;
	padding-left:1px !important; padding-right:1px !important;
	margin-right:2px !important;
}

.comment > .entry > .collapsed, .comment > .entry > .collapsed a.expand {
	font-size:11px !important;
	font-style:italic !important;
}

.comment > .entry > .collapsed{
	padding-top:5px !important;
	padding-bottom:5px !important;
}

.noncollapsed time{
    font-style:italic !important;
}

.morecomments, .morecomments a {
	font-size: 12px !important;
	font-style: italic !important;
	color: #888 !important;
	position: relative !important;
	bottom: 1px !important;
}

.commentarea .buttons, .profile-page .noncollapsed .buttons, .message .buttons {
	font-size: 11px !important;
	font-style: normal !important;
	font-weight: bold !important;
	white-space: normal !important;
	width: 10px !important;
	overflow: visible !important;
}

.commentarea .buttons, .profile-page .noncollapsed .buttons {
	position: relative !important;
	margin-left: 11px !important;
	vertical-align: sub !important;
}

.buttons:hover li{
	display:inline-block !important;
	background-color:white !important;
}

.keyHighlight .buttons:hover li{
    background-color:#faf9f7 !important;
}

.comments-page .linklisting .keyHighlight .buttons:hover li{
    background:none !important;
}

.promotedlink .buttons:hover li{
    display:inline !important;
}

.entry .buttons li a:hover, .morecomments a:hover{
	color:#0046af !important;
	text-decoration:none !important;
}

div.child {
    margin-left: 15px !important;
}

.profile-page .entry, .profile-page .entry.unvoted, .profile-page .entry.voted{
    margin-top:0px !important;
}

.morechildren{
    margin-bottom:8px !important;
}
.morechildren .entry{
    margin-left:7px !important;
}

.commentarea .arrow.down, .commentarea .arrow.downmod, .profile-page .comment .arrow.down, .profile-page .comment .arrow.downmod, .messages-page .arrow.down, .messages-page .arrow.downmod, .click-gadget .arrow.down, .click-gadget .arrow.downmod{
    margin-top:6px !important;
}

.commentarea .tagline, .profile-page .tagline {
	float: left !important;
	font-size:11px !important;
	display:inline !important;
}
.message .tagline, .message .parent-link{
	font-size:11px !important;
	padding-left:0px !important;
	font-style:italic !important;
}

.md div.madeVisible {
	overflow-x: visible !important;
	overflow-y: visible !important;
}

body span[class="hover pagename redditname"], body span[class="hover pagename redditname"] a{
    font-size:18px !important;
}

.comments-page .thumbnail.self{
    display:none !important;
}

.comments-page .sitetable .self .midcol{
    margin-right:8px !important;
}

.RESSubscriptionButton{
	font-size:12px !important;
	font-weight:normal !important;
	font-style:italic !important;
	opacity:0 !important;
	-Xmoz-transition:opacity 0.2s linear 0s !important;
	-Xwebkit-transition:opacity 0.2s linear 0s !important;
}

.RESSubscriptionButton:hover{
    background-color:whiteSmoke !important;
}

#REScommentNavToggle {
	margin-left: -6px !important;
	vertical-align:bottom !important;
	height:19px !important;
	margin-bottom:2px !important;
}

#REScommentNavToggle span{
    display:none !important;
}

#REScommentNavToggle span:first-child{
	display:block !important;
	margin-top:1px !important;
	font-style:normal !important;
	font-size:13px !important;
	margin-right:10px !important;
	color:#a7b3c5 !important;
}

#REScommentNavToggle div{
	font-size:14px !important;
	margin-left:10px !important;
}

.res div.usertext-edit > div{
    margin-top:4px !important;
}

.markdownEditor a{
	display:inline-block !important;
	height:13px !important;
}

.markdownEditor a, #RESMacroDropdown li a {
	border-radius:1px !important;
	background-color:whiteSmoke !important;
	border:1px solid #ddd !important;
	padding: 2px 3px 2px 3px !important;
	margin-right: 4px !important;
	font-size: 11px !important;
	color:black !important;
	cursor:default !important;
}

#RESMacroDropdown li {
	padding-right: 10px !important;
	height: auto !important;
	line-height: auto !important;
	background:none !important;
	border:none !important;
	margin-top:4px !important;
}

#RESMacroDropdown li a {
	position:relative !important;
	top:-3px !important;
}

.RESDropdownList li:hover, .RESDropdownList li a:hover,  #RESMacroDropdown li a:hover {
	background-color: #9CC6EC !important;
	color: #369 !important;
}

.markdownEditor a:hover {
    background-color: #ddd !important;
}

body.res .sitetable .RESDialogSmall{
    margin-bottom:30px !important;
}

.noncollapsed .score.unvoted {
    color:#888 !important;
}

h2{
    color:black !important;
}

.commentarea h1{
	border-bottom:none !important;
	margin-bottom:6px !important;
	margin-top:0px !important;
	padding-bottom:0px !important;
}

.commentarea h1:before { 
    content:"#" !important;
}

.usertext.border .usertext-body{
	display:table !important;
	padding-top:13px !important; padding-bottom:15px !important;
	padding-left:0px !important; padding-right:0px !important;
	margin-bottom:10px !important;
	background-color:#faf9f7 !important;
	border-radius:5px !important;
	font-size:110% !important;
	line-height:1.6em !important;
	width:100% !important;
	max-width:2000px !important;
}

.usertext.border .usertext-body .md, .usertext.border .usertext-body .md[style="max-width: 100% !important; "]{
	max-width: 34em !important;
	margin-left:auto !important;
	margin-right:auto !important;
	padding-left:20px !important; 
	padding-right:20px !important;
}

.usertext.border .usertext-body p, .usertext.border .usertext-body h3 {
	font-size:15px !important;
	line-height:1.6em !important;
}

.usertext.border .usertext-body h3{
    margin-top:8px !important; margin-bottom:8px !important;
}

.usertext.border .usertext-body p{
	margin-top:0px !important; 
	margin-bottom:0px !important;
	text-indent:35px !important;
}

.usertext.border .usertext-body .madeVisible{
    text-indent:0px !important;
}

.usertext.border .usertext-body li p, p code{
    text-indent: 0px !important;
}

.usertext.border .usertext-body li{
	font-size:15px !important;
	line-height:1.6em !important;
	margin-bottom:5px !important;
}

.usertext.border .usertext-body ul{
	margin-top:8px !important;
	margin-bottom:8px !important;
	margin-right:0px !important;
}

.usertext.border .usertext-body pre, .usertext.border .usertext-body code{
    font-size:14px !important;
}

.usertext.border .usertext-body blockquote{
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	padding-bottom: 8px !important;
	padding-top: 8px !important;
	padding-left:10px !important;
	padding-right:12px !important;
	background-color:#f0efed !important;
	border-left-color:#b7b7b5 !important;
}

.usertext.border .usertext-body table, .usertext.border .usertext-body td, .usertext.border .usertext-body thead, .usertext.border .usertext-body th, .usertext.border .usertext-body hr {
	border-color:#b7b7b5 !important;
	font-size:15px !important;
}

.usertext.border .usertext-body hr {
    margin-top:7px !important;
}

.side{
	background-color: white !important;
	padding-left:18px !important;
	width:23% !important;
	max-width:300px !important;
	z-index:30 !important;
	margin-right:10px !important;
}

@media screen and (max-width: 600px){  
	  .side, .side[style="display: block !important; "]{
		width:0px !important;
		border-left: 10px solid #0046af !important;
		margin-right:-19px !important;
		margin-left:10px !important;
		max-height:150px !important;
		overflow:hidden !important;
		-moz-transition:width 0.5s ease-out 0s !important;
		-webkit-transition:width 0.5s ease-out 0s !important;
	}
	
	.side:hover, .side[style="display: block !important; "]:hover{
		width:300px !important;
		background:none !important;
		border-left: 2px dashed #999 !important;
		border-bottom: 2px dashed #999 !important;
		margin-right:0px !important;
		padding-right:12px !important;
		max-height:none !important;
		-moz-transition:width 1.3s ease-out 0s !important;
		-webkit-transition:width 1.3s ease-out 0s !important;
	}
	
	ul.tabmenu, #header ul.tabmenu {
		top:68px !important;
		-moz-transition:top 1s ease-out 0s !important;
		-webkit-transition:top 1s ease-out 0s !important;
	}
	
	div#header-bottom-right {
		top:18px !important;
		-moz-transition:top 1s ease-out 0s !important;
		-webkit-transition:top 1s ease-out 0s !important;
	}
	
	div#header{
		max-height:87px !important;
		min-height:87px !important;
		-moz-transition:min-height 1s ease-out 0s !important;
		-webkit-transition:min-height 1s ease-out 0s !important;
	}
	
	.content{
	    margin-left: 3px !important;
	}
}

@media screen and (max-width: 1070px){
	body .side .titlebox .md{
	font-size:12px !important;
	}
}

body .side .titlebox .md{
    font-size:13px !important;
}

.side, .side p, .side li, .side h3, .side .md{
    text-align:left !important;
}

.side .usertext-body li{
    margin-bottom:2px !important;
}

.side form.usertext{
    margin-top:15px !important;
}

form#login_login-main.login-form.login-form-side {
	padding:0px !important;
	margin:0px !important;
	border-width:0px !important;
	border-color:gray !important;
	font-size:11px !important;
}

.login-form-side input[type=text], .login-form-side input[type=password] {
	margin:0px !important;
	margin-right:5px !important;
}

.login-form-side input:focus{
    color:black !important;
}

.author.flairselectable, span.flair, .link .flair, .flairselectbtn{
    font-size: 11px !important;
}

input{
	font-family:inherit !important;
	font-variant:normal !important;
	font-style:italic !important;
}

div.styleToggle{
	background-color:white !important;
	z-index: 400 !important;
}

.side td{
    padding:4px !important;
}

@media screen and (max-width: 1000px){
	.side td, .side th {
		display:block !important;
		padding:3px !important;
	}
}

.side li > p{
	margin-left:-25px !important;
	text-indent:25px !important;
}

.titlebox .bottom{
	font-size: 12px !important;
	font-style: italic !important;
	margin-bottom: 20px !important;
}

.titlebox .age{
    margin-left:13px !important;
}

.profile-page .parent{
	font-size:11px !important;
	margin-bottom:2px !important;
	font-style:italic !important;
}

.profile-page .thing{
    margin-top:11px !important;
}

.profile-page .link .tagline{
    float:none !important;
}

.profile-page .titlebox{
	border: none !important;
	font-family: inherit !important;
	font-style:italic !important;
	font-size:13px !important;
}

.titlebox h1{
    font-size:16px !important;
}

.profile-page .karma{
    font-size:16px !important;
}

.profile-page .titlebox .bottom{
	border:none !important;
	font-size:13px !important;
	color:black !important;
}

.subreddit .usertext .md{
	background:none !important;
	padding:7px !important;
	padding-bottom:2px !important;
	border-style:solid !important;
	font-size:13px !important;
	margin-top:8px !important;
}

.subreddit .usertext-body li{
    margin-bottom:2px !important;
}

.subreddit .tagline, .subreddit .flat-list{
    font-size:12px !important;
}

.subreddit .description{
    margin-top:-5px !important;
}

.subreddit .midcol{
	width:auto !important;
	min-width:9em !important;
}

.subreddit .fancy-toggle-button{
    margin-right:5px !important;
}

.subreddit .entry.likes .description{
    display:none !important;
}

.subreddit .entry.likes, .subreddit .remove{
    font-style:italic !important;
}

.subreddit .score.likes{
    color:gray !important;
}
.subreddit .entry.likes:hover, .subreddit .remove:hover{
    opacity:1 !important;
}

span.column.centered{
    text-align:left !important;
}

.subscription-box .box-separator {
	border-style: none none none none !important;
	margin-bottom: 9px !important;
}

.listing-page .subscription-box .fancy-toggle-button .add, .listing-page .subscription-box .fancy-toggle-button .remove{
    font-size:10px !important;
}

.subscription-box .title {
    font-size:14px !important;
}

.subscription-box li {
    margin-bottom: 4px !important;
}

.RESDashboardComponentContainer{
	padding-top:0px !important; 
	padding-bottom:15px !important;
	padding-left:5px !important; 
	padding-right:10px !important;
}

.RESDashboardComponent a.widgetPath{
	font-size:16px !important;
	margin-top:3px !important;
	font-style:italic !important;
}

.RESDashboardComponent a.widgetPath:hover{
	overflow:visible !important;
	background-color:whiteSmoke !important;
}

.RESDashboardComponentHeader{
	background-color:whiteSmoke !important;
	height:auto !important;
	min-height:38px !important;
	display:inline-block !important;
	width:100% !important;
}

.RESDashboardComponentHeader ul li, ul.widgetSortButtons li, ul.widgetStateButtons li{
	background:none !important;
	border:none !important;
	padding:0px !important;
	color:black !important;
    font-size:15px !important;
}

.RESDashboardComponentHeader ul li.active{
    color:orangeRed !important;
}

.RESDashboardComponentHeader ul li:hover{
    color:#0046AF !important;
}

.RESDashboardComponentHeader ul li.refresh{
	padding: 0px 6px 0px 6px !important;
	border: 1px solid #C7C7C7 !important;
	background-color: white !important;
	color: #6C6C6C !important;
}

ul.widgetStateButtons li.updateTime{
	font-size:11px !important;
	font-style:italic !important;
}

.RESDashboardComponentHeader ul{
	font-family:inherit !important;
	height:26px !important;
}

#userTaggerTable, #userTaggerTable td, #newCommentsTable td{
    font-size:13px !important;
}

#userTaggerTable td, #newCommentsTable td, #userTaggerTable th, #newCommentsTable th {
    padding: 6px 10px !important;
}

#userTaggerTable th, #newCommentsTable th{
	background-color:whiteSmoke !important;
	font-size:14px !important;
	font-style:italic !important;
}

iframe#ad-frame[src="http://www.redditmedia.com/ads/r/Dashboard/"]{
	height:10px !important;
	-moz-transition:height 0.7s ease-out 0s !important;
	-webkit-transition:height 0.7s ease-out 0s !important;
}

.loggedin iframe#ad-frame[src="http://www.redditmedia.com/ads/r/Dashboard/"]{
    height: 280px !important;
}

iframe#ad-frame[src="http://www.redditmedia.com/ads/r/Dashboard/"]:hover{
	height: 280px !important;
	-moz-transition:height 0.7s ease-out 0s !important;
	-webkit-transition:height 0.7s ease-out 0s !important;
}

#RESDashboardAddComponent {
	background-color: #dff6e4 !important;
	border: 1px solid #00A523 !important;
}

div.addNewWidget{
	font-size:16px !important;
	font-style:italic !important;
	font-weight:normal !important;
	margin-top:3px !important;
}

#addWidgetButtons, #addRedditFormContainer, #addMailWidgetContainer, #addUserFormContainer{
	width: auto !important;
	margin-left:10px !important;
}

.addButton{
	font-size:12px !important;
	background-image:none !important;
	border:none !important;
	background-color:#00A523 !important;
}

.addButton:hover{
    background-color:gray !important;
}

#newlink.submit.content, .submit-page div.content > .content{
	width:100% !important;
	display:block !important;
	float:none !important;
	clear:none !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

.submit-page h1{
	font-style:italic !important;
	padding-bottom:10px !important;
}

ul.tabmenu.formtab {
	display: block !important;
	padding-left: 15px !important;
	font-size: larger !important;
	margin-top:15px !important;
}

.tabmenu.formtab a{
	background-color:whiteSmoke !important;
	border:1px solid #b4b4b4 !important;
	color:black !important;
	border-radius:4px !important;
	font-size:20px !important;
	position:relative !important;
	top:-7px !important;
	margin-right:7px !important;
	padding-bottom:2px !important;
	-moz-transition:all 0.5s ease-out 0s !important;
	-webkit-transition:all 0.5s ease-out 0s !important;
}

.tabmenu.formtab .selected a{
	background-color:#FFCAB6 !important;
	color:black !important;
	border:1px solid orangeRed !important;
	border-bottom-width:0px !important;
	font-size:100% !important;
	font-size:20px !important;
	border-bottom-left-radius:0px !important;
	border-bottom-right-radius:0px !important;
	padding-bottom:9px !important;
	-moz-transition:all 0.5s ease-out 0s !important;
	-webkit-transition:all 0.5s ease-out 0s !important;
}

ul.tabmenu.formtab{
    padding-bottom:2px !important;
}

.formtabs-content {
	display:block !important;
	border-top: none !important;
	border-radius:4px !important;
	box-shadow: #888 1px 1px 5px 0px !important;
	padding:15px !important;
	margin-left:auto !important;
	margin-right:auto !important;
	max-width:500px !important;
}

.roundfield textarea, .roundfield input[type="text"], .roundfield input[type="password"]{
    width:100% !important;
}

.roundfield, textarea{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-left:0px !important;
	padding-right:0px !important;
}

.roundfield, form .roundfield {
	display:block !important;
	width:100% !important;
	padding-left:0px !important; 
	padding-right:0px !important;
}

.submit-page div.content{
	display:table !important;
	padding-left:10px !important;
}

.thing .title:hover, .thing .title.loggedin:hover, .entry .tagline a:hover, #header-bottom-right a:hover, .subscription-box .title:hover, .subscription-box a:hover{
	color:black !important;
	text-decoration:none !important;
}

.commentarea a.expand:hover{
    color:white !important;
}

a.voteWeight{
    margin-right:4px !important;
}

body .tagline .friend{
    color:orangeRed !important;
}

body .author.friend {
    background-color:orangeRed !important;
}

body .tagline .submitter{
    color:#0046af !important;
}

body .author.submitter {
    background-color:#0046af !important;
}

body .tagline .moderator{
    color:#282 !important;
}

body .author.moderator {
    background-color:#282 !important;
}

body .tagline .admin{
    color:#d70000 !important;
}

body .author.admin {
    background-color:#d70000 !important;
}

body .author.friend.submitter{
	background: linear-gradient(90deg, #0046af 50%, orangeRed 50%) !important;
	background-size:100% 100% !important;
}

body .author.submitter.moderator{
	background: linear-gradient(90deg, #0046af 50%, #282 50%) !important;
	background-size:100% 100% !important;
}

body .author.friend.moderator{
	background: linear-gradient(90deg, orangeRed 50%, #282 50%) !important;
	background-size:100% 100% !important;
}

body .author.submitter.admin{
	background: linear-gradient(90deg, #0046af 50%, #d70000 50%) !important;
	background-size:100% 100% !important;
}

body .author.friend.admin{
	background: linear-gradient(90deg, orangeRed 50%, #d70000 50%) !important;
	background-size:100% 100% !important;
}

body .author.friend.submitter.moderator{
	background: linear-gradient(90deg, #0046af, #0046af 33%, orangeRed 33%, orangeRed 66%, #282 66%, #282 99%) !important;
	background-size:100% 100% !important;
}

body .author.friend.submitter.admin{
	background: linear-gradient(90deg, #0046af, #0046af 33%, orangeRed 33%, orangeRed 66%, #d70000 66%, #d70000 99%) !important;
	background-size:100% 100% !important;
}

body .author.submitter, body .author.admin, body .author.moderator, body .author.friend{
	color:white !important;
	border-radius:2px !important;
	padding-left:3px !important; padding-right:3px !important;
	padding-top:2px !important; padding-bottom:2px !important;
}

.entry .tagline .author.submitter:hover, .entry .tagline .author.admin:hover, .entry .tagline .author.moderator:hover, .entry .tagline .author.friend:hover{
	color:white !important;
	background:none !important;
	background-color:gray !important;
}

body .collapsed .author {
	background-color:transparent !important;
	color:gray !important;
}

.newComments {
    color: #ff0000 !important;
}

.keyHighlight, div.keyHighlight {
	outline-width: 4px !important;
	outline-color:rgba(188, 174, 148, .105) !important;
	background-color:rgba(188, 174, 148, .105) !important;
	outline-style:solid !important;
}

.comments-page div.keyHighlight, .messages-page div.keyHighlight{
    outline-width: 6px !important;
}

.comments-page .linklisting .keyHighlight {
	outline:none !important;
	background:none !important;
}

.comments-page .linklisting .keyHighlight blockquote {
	background-color:whiteSmoke !important;
	border-left-color:#bbb
}

.comments-page .linklisting .keyHighlight table, .comments-page .linklisting .keyHighlight td, .comments-page .linklisting .keyHighlight thead, .comments-page .linklisting .keyHighlight th, .comments-page .linklisting .keyHighlight hr {
    border-color:#bbb !important;
}

.keyHighlight blockquote {
	background-color:#f0efed !important;
	border-left-color:#b7b7b5 !important;
}

.keyHighlight table, .keyHighlight td, .keyHighlight thead, .keyHighlight th, .keyHighlight hr {
    border-color:#7d7c79 !important;
}

.md {
	max-width: 620px !important;
	text-align:justify !important;
	margin-top:3px !important;
}

.md p{
	margin-top:0px !important;
	margin-bottom:6px !important;
}

pre, code {
	font-family:Consolas, Monaco, monospace !important;
	font-size:13px !important;
	overflow-x:visible !important;
}

#srList tr {
	border-width: 0px !important;
	font-size:11px !important;
}

.popup{
	position:absolute !important;
	top:-10px !important;
	padding-top:10px !important;
}

.promotedlink, .link.promotedlink.promoted, .link.promotedlink {
	opacity:0.7 !important;
	font-style:italic !important;
	background-color:#f8f8f8 !important;
	border:1px solid #ccc !important;
	margin-bottom:0px !important; 
	margin-top:0px !important;
	margin-left:10px !important;
	padding: 5px 5px 5px 0px !important;
	position:static !important;
	-moz-transition:opacity 0.3s ease-in 0s !important;
	-webkit-transition:opacity 0.3s ease-in 0s !important;
}

.promotedlink:hover, .link.promotedlink.promoted:hover {
	opacity:1 !important;
	-moz-transition:opacity 0.3s ease-in 0s !important;
	-webkit-transition:opacity 0.3s ease-in 0s !important;
}

.link.promotedlink.promoted a {
	font-size:80% !important;
	color:gray !important;
}

.link.promotedlink.promoted p.title{
	line-height:1em !important;
	margin-bottom:-3px !important;
}

.organic-listing{
    border-width:0px !important;
}

.organic-listing .link{
    margin-top:0px !important;
}

p.sponsored-tagline{
    display:none !important;
}

.RESDialogSmall{
	box-shadow: #888 1px 1px 5px 0px !important;
	border-width:0px !important;
	border-radius:4px !important;
	font-size:13px !important;
}

.keyNavAnnotation{
	font-size:70% !important;
	vertical-align:super !important;
	line-height: 0 !important;
	opacity:0.7 !important;
}

.userattrs{
	font-size:12px !important;
	font-weight:bold !important;
	margin-right:2px !important;
}

.NERPageMarker, #progressIndicator {
	color: #7F7F7F !important;
	font-size: 14px !important;
	font-style:italic !important;
	background-color: whiteSmoke !important;
	margin-top:25px !important;
	margin-bottom:29px !important;
}

.fancy-toggle-button a, .fancy-toggle-button .add, .fancy-toggle-button .remove, .RESDashboardToggle, .RESDashboardToggle.remove, .RESFilterToggle, .res #authorInfoToolTip .blueButton, .pretty-button, .RESshortcutside {
	font-size:12px !important;
	background-image:none !important;
	border:none !important;
	white-space:nowrap !important;
}

.fancy-toggle-button .add, .RESDashboardToggle, .RESFilterToggle, .pretty-button.positive, .RESshortcutside{
	background-color:#00a523 !important;
	color:white !important;
}

.fancy-toggle-button .remove, .RESDashboardToggle.remove, .RESFilterToggle.remove, .pretty-button.negative, .RESshortcutside.remove {
	background-color:#ce1212 !important;
	color:white !important;
}
.RESDashboardToggle, .RESDashboardToggle.remove, .RESFilterToggle, .RESshortcutside{
	font-weight:normal !important;
	font-style:italic !important;
}

.fancy-toggle-button a:hover, .fancy-toggle-button .add:hover, .fancy-toggle-button .remove:hover, .RESDashboardToggle:hover, .res #authorInfoToolTip .blueButton:hover, .RESFilterToggle:hover, .pretty-button.positive:hover, .pretty-button.negative:hover, .RESshortcutside:hover {
    background-color:gray !important;
}

.single-page a.title, .single-page .thing .title.loggedin.click:visited, .single-page .thing .title.loggedin:visited{
	font-size:17px !important;
	font-style:italic !important;
	color:#0046af !important;
	line-height:1.3em !important;
}

input.btn{
	padding-left:5px !important; 
	padding-right:5px !important;
	padding-top:2px !important; 
	padding-bottom:2px !important;
}

.message .entry .parent{
	margin-left:0px !important; margin-right:0px !important;
	margin-top:5px !important; margin-bottom:10px !important;
	padding: 7px 10px !important;
	border: 2px solid #D4DFEF !important;
	border-radius:4px !important;
	opacity:0.8 !important;
}

.menuarea li{
	font-size: 16px !important;
	font-weight: normal !important;
	color: black !important;
	padding-right: 17px !important;
	font-style: italic !important;
}

.message .subject .correspondent, .message .subject .correspondent.rounded{
	font-size:14px !important;
	font-weight: normal !important;
	font-style: italic !important;
}

.expand-btn{
	font-size:12px !important;
	font-style:italic !important;
}
.message .head a[style]{
    font-size:12px !important;
}

.link .likes .score, .link .dislikes .score, .link .score.likes, .link .score.dislikes, .link .score .unvoted, .link .score.likes, .link .score.dislikes, .link .score.unvoted {
	display:block !important;
	height:17px !important;
	overflow:hidden !important;
	opacity:1 !important;
	-moz-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s !important;
	-webkit-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s !important;
}

.link .unvoted .score.likes, .link .dislikes .score.likes, .link .unvoted .score.dislikes, .link .likes .score.dislikes, .link .likes .score.unvoted, .link .dislikes .score.unvoted{
	height:0px !important;
	opacity:0 !important;
	-moz-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s !important;
	-webkit-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s !important;
}

.arrow.upmod, .arrow.downmod{
	-moz-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s !important;
	-webkit-transition:all 0.9s cubic-bezier(0,0,0.8,1) 0s !important;
}

.linefield, form .roundfield{
    background:none !important;
}

.linefield .title{
	padding-left:7px !important;
	font-size:18px !important;
	font-weight:normal !important;
	color:black !important;
}

.linefield .title:hover{
    color:black !important;
}

.linefield .gray, .linefield .title + .gray{
	font-size:13px !important;
	font-style:italic !important;
}

.moderator .col{
    width:95% !important;
}

.moderator .col textarea {
	font-family:Consolas, Monaco, monospace !important;
	font-size:13px !important;
}

.moderator .content #sr-form ul, .moderator .content #sr-form p{
	font-size:14px !important;
	max-width:585px !important;
	text-align:justify !important;
}

.moderator #moderation_tools .content ul{
    font-size:12px !important;
}
.titlebox .toggle, .titlebox .leavemoderator, .titlebox form.toggle, .leavemoderator, .titlebox .option{
	font-size:medium !important;
	font-size:12px !important;
	font-style:italic !important;
}

body .expando-button, .expando-button.image{
    cursor:default !important;
}

p#noresults.error{
	display:inline-block !important;
	font-size:17px !important;
	font-style:italic !important;
	text-align:center !important;
	border:2px dashed #ddd !important;
	background-color:whiteSmoke !important;
	padding:40px !important;
	margin-top:30px !important;
	margin-left:30px !important;
	margin-right:10px !important;
	color:#aaa !important;
}

}